<div class="f_help_links fSiteBd">
	<dl class="f_help_list f_server">
  		<dt class="f_tit"><a href="" title="购物指南">购物指南</a></dt>
    	<dd><a href="" title="购物流程">购物流程</a></dd>
    	<dd><a href="" title="订购方式">订购方式</a></dd>
	</dl>
	<dl class="f_help_list f_server">
        <dt class="f_tit2">微信：kuaifankeji</dt>
        <dd><img width="90" height="90" alt="微信二维码" src="${base}/templates/${config.theme}/front/static/images/qr.jpg" class="lazy"></dd>
        <dd><a href="javascript:;">加微信好友</a></dd>
   	</dl>
	<dl class="f_help_list f_server last">
        <dt class="f_tit2">新浪微博</dt>
        <dd><img width="90" height="90" alt="微信二维码" src="${base}/templates/${config.theme}/front/static/images/wbicon.jpg" class="lazy" style="cursor:pointer;" onClick="javascript:window.open('http://weibo.com/kuaifankeji');"></dd>
        <dd><a href="" target="_blank">关注绿色生活</a></dd>
   	</dl>
</div>