@charset "utf-8";

.popup_box,.por_big_img,.co_pop_pic,.co_h_show_edit,.guide_pop,.pop_rebuy_tips {
	display: none
}

.face_icon,.new_face_03,.payment_describe_title a,.payment_describe_title,.fund_logo,.fund_icon,.payment_popup_close,.payment_tab_tips_icon,.pay_bank_more em,.payment_tab_tips_kj,.relate_pro .btn,.funnel {
	background-image: url(../images/icons.png?e158a83b);
	background-repeat: no-repeat
}

.face_bar {
	height: 70px
}

.face_bar strong {
	line-height: 50px;
	font-size: 14px
}

.face_icon {
	width: 65px;
	height: 70px;
	float: left;
	display: inline
}

.face_01 {
	background-position: 0 -100px
}

.face_02 {
	background-position: -100px -100px
}

.face_03 {
	background-position: -200px -100px
}

.face_04 {
	background-position: 0 -200px
}

.new_face_03 {
	background-position: -100px -200px
}

.i_warn_16 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-position: -400px -100px;
	overflow: hidden
}

.i_warn_20 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	background-position: -350px -100px;
	overflow: hidden
}

.i_warn_32 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -250px -100px;
	overflow: hidden
}

.i_warn_49 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 49px;
	height: 49px;
	background-position: -500px -100px;
	overflow: hidden
}

.i_ok_16 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-position: -400px 0;
	overflow: hidden
}

.i_ok_16_black {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-position: -450px 0;
	overflow: hidden
}

.i_ok_20 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	background-position: -350px 0;
	overflow: hidden
}

.i_ok_32 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -250px 0;
	overflow: hidden
}

.i_note_16 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-position: -400px -150px;
	overflow: hidden
}

.i_note_32 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -250px -150px;
	overflow: hidden
}

.i_error_16 {
	display: inline-block;
	background-image: url(../images/icons2.png?eed24aae);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-position: -400px -50px;
	overflow: hidden
}

.i_arrow_left_9 {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 9px;
	height: 9px;
	background-position: -150px 0;
	overflow: hidden
}

.i_weixin_2520 {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	background-position: -150px -200px;
	overflow: hidden
}

.i_tuijian_2718 {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 27px;
	height: 18px;
	background-position: -200px -200px;
	overflow: hidden
}

.i_v_1311 {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 13px;
	height: 11px;
	background-position: 0 -200px;
	overflow: hidden
}

.i_gift_1114 {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 11px;
	height: 14px;
	background-position: -50px -200px;
	overflow: hidden
}

.i_order_ok {
	display: inline-block;
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat;
	width: 21px;
	height: 19px;
	background-position: -100px -200px;
	overflow: hidden
}

.button_bg,.btnbg,.btn_load {
	display: inline-block;
	background: url(../images/imgs_button_icon.png?7f34c233) repeat-x;
	color: #fff;
	border: 0 none;
	text-align: center;
	cursor: pointer
}

.button_bg_1,.button_bg_2,.button_bg_3 {
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-position: 0 0
}

.button_bg_2 {
	background-position: 0 -30px
}

.button_bg_3 {
	background-position: 0 -60px
}

.button_bg_4,.button_bg_5 {
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-position: 0 -152px;
	font-size: 14px;
	font-weight: 700
}

.button_bg_5 {
	background-position: 0 -192px
}

.button_bg_6,.button_bg_7 {
	width: 130px;
	height: 30px;
	line-height: 30px;
	background-position: 0 -91px
}

.button_bg_7 {
	background-position: 0 -121px
}

.button_bg_8,.button_bg_9 {
	width: 102px;
	height: 30px;
	line-height: 30px;
	background-position: 0 -234px
}

.button_bg_9 {
	background-position: 0 -266px;
	width: 152px
}

.button_bg_10 {
	background-position: 0 -300px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	color: #239b2d
}

.button_bg_11 {
	background-position: 0 -370px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #239b2d
}

.button_bg_12 {
	background-position: 0 -410px;
	width: 68px;
	height: 22px;
	line-height: 22px;
	color: #fff
}

.btn_pink_18247 {
	background-position: 0 -578px;
	width: 182px;
	height: 47px;
	line-height: 47px;
	color: #fff;
	font-size: 20px;
	font-weight: 700
}

.btn_pinkL_5226 {
	background-position: 0 -442px;
	width: 52px;
	height: 26px;
	line-height: 26px;
	color: #239b2d
}

.btn_pinkL_4420 {
	background-position: 0 -478px;
	width: 44px;
	height: 20px;
	line-height: 20px;
	color: #239b2d
}

.btn_grayL_5226 {
	background-position: -56px -442px;
	width: 52px;
	height: 26px;
	line-height: 26px;
	color: #666
}

.btn_grayL_4820 {
	background-position: 0 -508px;
	width: 48px;
	height: 20px;
	line-height: 20px;
	color: #a4a3a3
}

.btn_grayL_10230 {
	background-position: 0 -538px;
	width: 102px;
	height: 30px;
	line-height: 30px;
	color: #a4a3a3
}

.button_bg:hover,.btnbg:hover {
	color: #fff;
	text-decoration: none
}

.button_bg_1:hover {
	background-position: -100px 0
}

.button_bg_2:hover {
	background-position: -100px -30px
}

.button_bg_3:hover {
	background-position: 0 -60px
}

.button_bg_4:hover {
	background-position: -150px -152px
}

.button_bg_5:hover {
	background-position: -150px -192px
}

.button_bg_6:hover {
	background-position: -130px -91px
}

.button_bg_7:hover {
	background-position: -130px -121px
}

.button_bg_8:hover {
	background-position: -102px -234px
}

.button_bg_9:hover {
	background-position: -152px -266px
}

.button_bg_10:hover,.button_bg_11:hover {
	color: #239b2d
}

.btn_pink_18247:hover {
	background-position: -182px -578px
}

.btn_pinkL_5226:hover {
	color: #239b2d
}

.btn_pinkL_4420:hover {
	background-position: -48px -478px;
	color: #239b2d
}

.btn_grayL_5226:hover {
	color: #666
}

.btn_grayL_4820:hover {
	color: #a4a3a3
}

.btn_grayL_10230:hover {
	color: #a4a3a3
}

.button_bg_8:active {
	background-position: -204px -234px
}

.button_bg_9:active {
	background-position: -304px -266px
}

.btn_pinkL_4420:active {
	background-position: -96px -478px
}

.btn_load {
	cursor: default
}

.btn_load img {
	vertical-align: middle
}

.btn_grayL_10230 .load20_gray {
	margin: 4px 3px 0 0
}

.btn_pink_s {
	display: inline-block;
	padding: 4px 11px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: 1px solid #d7408c;
	background: #df3487;
	background: linear-gradient(top,#e1378a 0,#df3487 50%,#df3487 51%,#de3184 100%)
}

.btn_pink_s:hover {
	text-decoration: none;
	color: #fff
}

.cart_model {
	padding-bottom: 20px;
	width: 100%
}

.cart_model_hd {
	background: #eae8eb;
	border-top: 2px solid #d0cfd1;
	height: 28px
}

.cart_model_title {
	display: inline-block;
	background: #f3f1f4;
	border-top: 2px solid #f43499;
	height: 28px;
	line-height: 28px;
	margin-top: -2px;
	padding: 0 16px;
	font-size: 14px
}

.cart_model_bd {
	width: 100%;
	background-color: #fcfcfc
}

.c_load {
	line-height: 20px
}

.c_load_ico {
	margin-right: 5px;
	vertical-align: middle
}

.cart_time_tips,.pop_arrow,.por_big_img .left_arrow,.pop_close,.subtract_btn,.add_btn,.subtract_btn_f,.add_btn_f,.cart_giftcard_close,.giftcard_tit,.giftcard_submit,.cart_goshopping,.go_shopping,.cbt_icon_normal,.cbt_icon_act,.cl_sp_info,.cart_giftcard_selected .c_g_arrow,.re_buy_btn,.storck_icon,.cl_free_tip .arrow,.brand_red_packet_inner .close_this_btn,.red_pack_tit,.close_pop_btn,.red_pack_pop_tip .right,.red_pack_pop_tip .wrong {
	background-image: url(../images/icons.png);
	background-repeat: no-repeat
}

.information_bar {
	height: 28px;
	margin-top: 15px;
	border: 1px solid #f5ddab;
	background: #fcf8e2;
	line-height: 30px;
	text-align: center;
	overflow: hidden
}

.cart_time_tips {
	height: 20px;
	margin: 30px 0 15px;
	padding-left: 20px;
	line-height: 20px;
	background-position: -600px -349px;
	z-index: 1;
	position: relative
}

.pop_wh_tips,.pop_rebuy_tips {
	font-size: 14px;
	color: #999;
	position: relative;
	z-index: 1
}

.pop_wh_tips:hover .popup_box,.pop_wh_tips_hover .popup_box {
	display: block
}

.pop_wh_tips:hover .popup_box,.pop_wh_tips_hover {
	display: inline
}

.cart_time_tips .m_bubble_black {
	left: -88px;
	bottom: 25px
}

.cart_time_tips .m_bubble_black .arrow_bottom {
	left: 94px
}

.shopping_tips {
	position: relative
}

.cart_null .shopping_tips {
	z-index: 5
}

.popup_box {
	width: 180px;
	padding: 7px 10px;
	line-height: 16px;
	color: #fff;
	font-size: 12px;
	background: #626262;
	background: rgba(0,0,0,.6);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: absolute;
	bottom: 22px;
	left: -86px
}

.pop_arrow {
	width: 9px;
	height: 6px;
	display: block;
	background-position: -400px -99px;
	position: absolute;
	bottom: -5px;
	left: 47%;
	overflow: hidden;
	opacity: .6;
	filter: alpha(opacity=60)
}

.por_big_img .left_arrow {
	width: 5px;
	height: 7px;
	background-position: 0 -450px;
	display: block;
	position: absolute;
	top: 8px;
	left: -5px
}

.cart_confidence {
	height: 26px;
	overflow: hidden;
	position: absolute;
	right: -15px;
	top: -3px;
	width: 380px
}

.cart_confidence .c_item {
	color: #666;
	font-size: 14px;
	font-weight: 700;
	height: 26px;
	line-height: 26px;
	padding: 0 15px;
	margin-left: -1px;
	border-left: 1px dotted #ccc
}

.cart_confidence i {
	background: url(../images/icons.png?e158a83b) no-repeat 0 -950px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0 5px -8px 0
}

.cart_confidence .ico2 {
	background-position: -50px -950px
}

.cart_confidence .ico3 {
	background-position: -100px -950px
}

.shop_list {
	margin-bottom: 40px
}

.mod_cl {
	border: 1px solid #e9e9e9;
	background: #fff;
	*zoom: 1
}

.mod_cl_dh,.mod_cl_db,.mod_cl_df {
	padding: 0 30px
}

.mod_cl_dh {
	height: 34px;
	background: #fbfbfb;
	line-height: 34px
}

.mod_cl_db {
	padding-bottom: 15px
}

.mod_cl_df {
	padding: 10px 30px 0;
	background: #e3ffe8
}

.mod_cl_others {
	border: 1px solid #c7e0f3;
	border-top: 2px solid #6aa2f0;
	border-bottom: 2px solid #c7e0f3
}

.mod_cl_others .mod_cl_dh {
	background: #bdeac5
}

.check_vm {
	display: inline-block;
	vertical-align: middle;
	_margin-top: 5px
}

.check_vm input {
	vertical-align: middle
}

.mod_cl_fail {
	border: 1px solid #ddd;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd
}

.mod_cl_fail .mod_cl_dh {
	background: #f4f4f4
}

.mod_cl_fail,.mod_cl_fail .gray,.mod_cl_fail .hlight_main,.mod_cl_fail a {
	color: gray
}

.mod_cl_fail .mod_cl_dh .hlight_main {
	color: #dc5c95
}

.mod_cl_fail .cl_sp_type_r {
	background: #999
}

.mod_cl_fail .go_shopping {
	background-position: 55px -745px
}

.mod_cl_fail .mod_cl_df {
	display: none
}

.mod_cl_fail .subtract_btn {
	background-position: -300px -200px
}

.mod_cl_fail .add_btn {
	background-position: -250px -200px
}

.cl_s01 {
	width: 494px
}

.cl_s02,.cl_s03,.cl_s04,.cl_s05 {
	text-align: center;
	color: #2e3a47
}

.cl_s02 {
	width: 160px
}

.cl_s03 {
	width: 119px
}

.cl_s04 {
	width: 100px
}

.cl_s05 {
	width: 60px
}

.cl_brand_ls {
	margin-top: 13px
}

.cl_brand_tit {
	height: 18px;
	padding: 0 0 3px
}

.cbt_icon_normal {
	display: inline-block;
	width: 5px;
	height: 9px;
	background-position: -600px -650px;
	margin-right: 10px;
	text-indent: 10px;
	overflow: hidden
}

.cbt_icon_act {
	display: inline-block;
	width: 34px;
	height: 16px;
	background-position: -200px -550px;
	margin-right: 5px;
	color: #ca8907;
	padding-left: 5px;
	font-size: 12px;
	float: left
}

.shop_list_tab {
	width: 936px;
	border: 1px solid #e9e9e9;
	background-color: #fbfbfb
}

.shop_list_tab td {
	padding: 7px 0;
	border-bottom: 1px solid #e1e1e1;
	text-align: center
}

.shop_list_tab .pro_tit {
	padding-left: 20px;
	text-align: left;
	line-height: 24px
}

.shop_list_tab .pro_img_box {
	width: 49px;
	height: 62px;
	margin-left: 10px;
	display: block;
	position: relative;
	z-index: 50
}

.shop_list_tab .por_big_img {
	width: 190px;
	height: 240px;
	padding: 2px;
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 0;
	left: 60px;
	z-index: 1
}

.shop_list_tab .pro_num {
	width: 72px;
	margin: 0 auto
}

.shop_list_tab del {
	font-size: 12px;
	color: gray
}

.shop_list_tab .line_between {
	border-top: 1px solid #e9e9e9
}

.subtract_btn,.add_btn,.subtract_btn_f,.add_btn_f {
	width: 24px;
	height: 24px;
	border: 0;
	cursor: pointer
}

.subtract_btn {
	background-position: -400px -200px
}

.add_btn {
	background-position: -350px -200px
}

.subtract_btn_f {
	background-position: -300px -200px
}

.add_btn_f {
	background-position: -250px -200px
}

.num_inp {
	width: 24px;
	height: 22px;
	border: 0;
	border-top: 1px solid #dcd9da;
	border-bottom: 1px solid #dcd9da;
	line-height: 22px;
	text-align: center;
	color: #999
}

.cl_sp_bar {
	width: 934px;
	height: 24px;
	margin-top: -1px;
	background: #f9f9f9;
	border: 1px solid #e1e1e1;
	border-top: 0;
	position: relative
}

.cl_sp_info {
	width: 500px;
	height: 24px;
	padding-left: 10px;
	background-color: #ececec;
	background-position: 490px -500px;
	line-height: 24px
}

.cl_subtotal {
	width: 404px;
	height: 21px;
	padding-right: 20px;
	border-bottom: 3px solid #ececec;
	line-height: 21px;
	text-align: right
}

.cl_sp_type_g,.cl_sp_type_r {
	padding: 1px 2px;
	margin-right: 10px;
	background: #999;
	color: #fff
}

.cl_sp_type_r {
	background: #239b2d
}

.go_shopping {
	padding: 0 20px 0 10px;
	background-position: 55px -695px
}

.cart_del_confirm_box {
	position: relative
}

.cart_del_confirm_box .m_confirm_tip {
	width: 198px;
	height: 140px;
	padding: 0 14px;
	right: 0;
	top: 20px
}

.cart_del_confirm_box .m_confirm_tip .arrow {
	right: 22px
}

.cart_del_confirm_box .m_confirm_tip .del_txt1 {
	padding-top: 12px;
	line-height: 70px;
	font-size: 14px
}

.cart_del_confirm_box .m_confirm_tip .del_txt2 {
	line-height: 30px;
	padding-top: 10px;
	font-size: 14px
}

.cart_del_confirm_box .m_confirm_tip .del_note {
	border-top: 1px solid #e6e6e6;
	height: 54px;
	padding-bottom: 3px
}

.cart_del_confirm_box .m_confirm_tip .vm_tag {
	height: 100%;
	display: inline-block;
	vertical-align: middle
}

.cart_del_confirm_box .m_confirm_tip .del_txt3 {
	display: inline-block;
	vertical-align: middle;
	color: #666;
	line-height: 20px;
	*display: inline;
	*zoom: 1
}

.cart_del_load,.cart_del_tip,.cart_del_with_hint {
	display: none
}

.pro_num .m_confirm_tip {
	top: 32px
}

.pro_num .m_confirm_tip .arrow {
	right: 30px
}

.z_cart_del_load,.z_cart_del_show,.z_cart_del_with_hint {
	display: block;
	z-index: 10
}

.z_cart_del_load .cart_del_load,.z_cart_del_show .cart_del_tip,.z_cart_del_with_hint .cart_del_with_hint {
	display: block
}

.cart_gift_extra {
	width: 470px
}

.cart_gift_item {
	float: left;
	padding-bottom: 15px;
	width: 470px
}

.cart_gift_item dt {
	float: left;
	width: 50px
}

.cart_gift_item dd {
	border-left: 1px solid #fbc2e0;
	float: left;
	padding-left: 15px;
	width: 400px;
	line-height: 18px
}

.cart_gift_item dd p {
	line-height: 22px;
	margin-top: -3px
}

.mod_cl_others .cart_gift_item dd {
	border-left: 1px solid #a8caf8
}

.mod_cl_others .mod_cl_df {
	background: #e6f4ff
}

.cl_free {
	position: relative;
	margin-left: 3px
}

.cl_free_root {
	background-color: #f40084;
	color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	text-align: center;
	width: 18px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.cl_free_tip {
	display: none
}

.cl_free_tip .arrow {
	background-position: -400px -99px;
	bottom: -5px;
	display: block;
	height: 6px;
	left: 46%;
	overflow: hidden;
	position: absolute;
	width: 9px
}

.cl_free:hover .cl_free_tip,.cl_free_hover .cl_free_tip {
	display: block;
	position: absolute;
	top: -42px;
	left: -43px;
	width: 105px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #000;
	filter: alpha(opacity=60);
	opacity: .6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.cart_gift_bubble_trigger {
	z-index: 52;
	position: relative
}

.cart_gift_bubble_trigger .m_bubble_black {
	bottom: 24px;
	display: block;
	left: 0;
	line-height: 18px;
	width: 150px;
	z-index: 20;
	font-family: '\5b8b\4f53'
}

.cart_gift_bubble_trigger .keylink {
	color: #f7a4c8;
	text-decoration: underline
}

.cart_giftcard_type_ul {
	height: 38px
}

.cart_giftcard_type_ul li {
	padding-right: 20px;
	position: relative;
	height: 38px
}

.cart_giftcard_selected .curr {
	background: url(../images/icons.png?e158a83b) no-repeat -500px -200px;
	bottom: 0;
	_bottom: -11px;
	display: inline-block;
	height: 5px;
	left: 36px;
	position: absolute;
	width: 10px;
	z-index: 1
}

.cart_giftcard {
	width: 712px;
	padding-bottom: 10px
}

.cart_giftcard_tit,.cl_vip_tips {
	height: 30px;
	line-height: 30px
}

.cart_giftcard_edit {
	padding: 5px
}

.cart_giftcard_btn,.cart_giftcard_btn_o {
	background: url(../images/icon_repeat.png?5379e784) no-repeat 10px -841px #fff9fc;
	height: 28px;
	padding: 0 10px 0 26px;
	border: 1px solid #f4bcd5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font: 700 14px/28px '\5B8B\4F53';
	color: #239b2d
}

.cart_giftcard_btn_o {
	background-position: 10px -789px
}

.cart_giftcard_div {
	width: 670px;
	margin: 10px 0;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px #ddd;
	-moz-box-shadow: 0 0 2px #ddd;
	text-align: left;
	position: relative
}

.cart_giftcard_type {
	height: 38px;
	border-bottom: 1px solid #efd3e1;
	line-height: 38px
}

.cart_giftcard_num {
	margin-top: 20px
}

.cart_giftcard_num .giftcard_tit {
	height: 16px;
	padding-left: 20px;
	margin-bottom: 10px;
	background-position: -600px -297px;
	line-height: 16px
}

.giftcard_tab td {
	height: 28px;
	padding: 0;
	line-height: 28px;
	text-align: center
}

.giftcard_tab,.giftcard_tab td {
	border: 1px solid #ddd
}

.giftcard_tab_tr td {
	background: #f5f5f5;
	color: gray
}

.cart_giftcard_close {
	width: 12px;
	height: 12px;
	display: block;
	background-position: -500px 0;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer
}

.cart_giftcard_num .giftcard_submit {
	height: 30px;
	padding-left: 20px;
	margin: 20px 0 10px;
	background-position: -600px -290px;
	line-height: 30px
}

.cart_giftcard_num .giftcard_inp {
	width: 200px;
	height: 28px;
	padding: 0 5px;
	margin-right: 20px;
	border: 1px solid #ddd;
	line-height: 28px
}

.cl_card_use {
	width: 50px;
	height: 20px;
	margin: 0 auto;
	display: block;
	border: 1px solid #f5bbd4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fcf0fa;
	text-align: center;
	line-height: 20px
}

.pop_giftcard {
	width: 420px;
	padding: 30px;
	background: #fbf9fc
}

.pop_giftcard .face_bar {
	width: 400px;
	line-height: 22px
}

.pop_giftcard p {
	padding-top: 5px
}

.pop_giftcard .button_bg_1,.pop_giftcard .loading_box_s {
	margin: 20px 0 20px 25px
}

.giftcard_scroll_box {
	height: 233px;
	overflow-x: hidden;
	overflow-y: scroll
}

.popup_giftcard {
	bottom: 35px;
	font-weight: 400;
	left: 0;
	width: 120px
}

.coupon_box {
	padding: 0 15px 10px
}

.coupon_trigger {
	padding-bottom: 10px;
	position: relative;
	height: 30px;
	z-index: 4
}

.coupon_use_btn {
	background: #fff9fc;
	border: 1px solid #f4bcd5;
	width: 100px;
	height: 16px;
	line-height: 16px;
	padding: 6px 0 6px 10px;
	color: #f10180;
	font-size: 14px;
	font-weight: 700;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer
}

.coupon_used {
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	font-family: '\5b8b\4f53';
	display: none
}

.coupon_used .subtract_fee {
	color: #f10180;
	font-size: 13px;
	font-family: arial;
	margin-right: 5px
}

.coupon_used_btn {
	cursor: pointer
}

.coupon_used_btn .used_infor {
	color: #666;
	font-size: 14px;
	font-weight: 700;
	margin-right: 25px
}

.coupon_used_btn .used_num {
	color: #f10180;
	padding: 0 8px;
	font-size: 16px;
	font-family: arial
}

.coupon_trigger_arrow {
	display: inline-block;
	height: 10px;
	width: 10px;
	position: relative;
	margin: 0 2px 0 0
}

.coupon_trigger_arrow .layer {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	border-width: 5px;
	border-style: dashed dashed dashed solid;
	border-color: transparent transparent transparent #f10180
}

.coupon_used_suc {
	top: -36px;
	left: -10px;
	width: 160px;
	text-align: center;
	padding: 6px
}

.coupon_used_suc .arrow_bottom {
	left: 92px
}

.coupon_used_suc_tip {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	font-family: '\5b8b\4f53'
}

.coupon_used_suc_tip .ico {
	margin-right: 5px;
	vertical-align: top
}

.coupon_used_suc_tip .txt {
	color: #fff;
	display: inline-block
}

.coupon_is_here {
	bottom: 49px;
	left: -43px;
	text-align: center;
	padding: 6px
}

.coupon_is_here .arrow_bottom {
	left: 92px
}

.coupon_bubble_special {
	width: 265px;
	left: -87px
}

.coupon_bubble_special .arrow_bottom {
	left: 136px
}

.coupon_bubble_special .bubble_text {
	padding-bottom: 5px
}

.coupon_bubble_special .bubble_text .note {
	font-weight: 700;
	line-height: 28px
}

.coupon_bubble_special .bubble_text .key_txt {
	color: #f3c
}

.coupon_detail_tip {
	display: none;
	background: #fffdf0;
	border: 1px solid #ffcdb5;
	position: absolute;
	padding: 0 10px
}

.coupon_detail_tip .arrow_top {
	height: 12px;
	width: 12px;
	overflow: hidden
}

.coupon_detail_tip .arrow_top em {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 6px
}

.coupon_detail_tip .arrow_top em {
	border-style: dashed dashed solid;
	left: 0
}

.coupon_detail_tip .arrow_top .layer1 {
	border-color: transparent transparent #fffdf0;
	bottom: 0
}

.coupon_detail_tip .arrow_top .layer2 {
	border-color: transparent transparent #ffcdb5;
	bottom: 1px
}

.coupon_detail_tip .arrow_top .layer3 {
	border-color: transparent;
	bottom: 2px
}

.coupon_detail_tip .view_more_detail {
	padding-bottom: 2px;
	line-height: 20px;
	height: 20px;
	padding: 12px 0;
	width: 100%;
	text-align: center;
	position: relative;
	cursor: pointer;
	border-top: 1px dotted #d1d1d1;
	display: none
}

.view_more_detail .arrow {
	height: 10px;
	width: 10px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 0 0 -1px 5px
}

.view_more_detail .arrow em {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 5px
}

.view_more_detail .arrow em {
	border-style: solid dashed dashed;
	left: 0
}

.view_more_detail .arrow .layer1 {
	border-color: #fffdf0 transparent transparent;
	top: 0
}

.view_more_detail .arrow .layer2 {
	border-color: transparent;
	top: 1px
}

.view_more_detail .arrow .layer3 {
	border-color: #666 transparent transparent;
	top: 2px
}

.coupon_detail_list {
	width: 100%;
	overflow: hidden
}

.coupon_detail_list li {
	border-top: 1px dotted #d1d1d1;
	height: 33px;
	line-height: 32px;
	margin-top: -1px
}

.coupon_used_detail {
	top: 31px;
	left: -45px
}

.coupon_used_detail .arrow_top {
	position: absolute;
	left: 113px;
	top: -12px
}

.coupon_used_detail .view_more_detail,.coupon_used_list {
	width: 220px
}

.coupon_used_list li .coupon_type,.coupon_used_list li .coupon_infor {
	display: inline-block;
	height: 32px;
	line-height: 32px
}

.coupon_used_list li .coupon_type {
	width: 70px;
	text-align: center
}

.coupon_used_list li .coupon_infor {
	width: 150px
}

.coupon_used_trigger:hover,.coupon_used_trigger_hover {
	position: relative;
	z-index: 30
}

.coupon_used_trigger:hover .coupon_used_detail,.coupon_used_trigger_hover .coupon_used_detail {
	display: block
}

.coupon_detail_trigger {
	position: relative;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.coupon_detail_trigger .arrow_top {
	left: 92px;
	top: -12px;
	width: 106px
}

.coupon_detail_trigger .arrow_top em {
	left: 48px
}

.coupon_detail_trigger .coupon_detail_tip {
	left: -133px;
	top: 24px;
	width: 260px
}

.coupon_detail_trigger .view_more_detail,.coupon_show_list {
	width: 260px
}

.coupon_show_list li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.coupon_detail_trigger:hover,.coupon_detail_trigger_hover {
	z-index: 60
}

.coupon_detail_trigger:hover .coupon_detail_tip,.coupon_detail_trigger_hover .coupon_detail_tip {
	display: block;
	top: 31px
}

.z_coupon_used .coupon_use_btn {
	display: none
}

.z_coupon_used .coupon_used,.z_coupon_open .coupon_cnt_wrap,.z_coupon_used_suc .coupon_used_suc,.z_coupon_here .coupon_is_here,.z_coupon_detail_more .view_more_detail {
	display: block
}

.z_coupon_open .coupon_trigger_arrow {
	left: -2px;
	top: 2px
}

.z_coupon_open .coupon_trigger_arrow .layer {
	border-style: solid dashed dashed;
	border-color: #f10180 transparent transparent
}

.z_coupon_detail_more .coupon_used_list,.z_coupon_detail_more .coupon_show_list {
	height: 329px
}

.coupon_cnt_wrap {
	background: #fffdf0;
	border: 1px solid #ffcdb5;
	padding: 15px 10px 10px;
	position: relative;
	z-index: 3;
	display: none
}

.coupon_cnt_arrow {
	position: absolute;
	left: 30px;
	top: -14px;
	width: 14px;
	height: 14px;
	display: inline-block
}

.coupon_cnt_arrow i {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 7px;
	border-style: dashed dashed solid
}

.coupon_cnt_arrow i.layer1 {
	border-color: transparent transparent #ffcdb5
}

.coupon_cnt_arrow i.layer2 {
	border-color: transparent transparent #fffdf0;
	top: 1px
}

.coupon_activate {
	padding-bottom: 20px
}

.coupon_activate .btnbg {
	vertical-align: top
}

.coupon_activate .btn_load {
	display: none;
	background-position: 0 0
}

.coupon_input {
	border: 1px solid #e4bfad;
	height: 28px;
	line-height: 28px;
	vertical-align: top;
	margin: 0 5px 0 0;
	width: 226px;
	padding-left: 9px;
	box-shadow: 0 1px 1px #e5e5e5 inset
}

.z_activate_load .btnbg {
	display: none
}

.z_activate_load .btn_load {
	display: inline-block
}

.coupon_dropdown {
	height: 30px;
	width: 156px;
	margin-right: 10px
}

.coupon_dropdown .m_dropdown_trigger {
	background: #fff;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e4bfad;
	color: #333;
	box-shadow: 0 1px 1px #e5e5e5 inset
}

.coupon_dropdown .m_dropdown_trigger .m_dd_arrow {
	right: 7px;
	top: 10px;
	width: 10px;
	height: 10px
}

.coupon_dropdown .m_dropdown_trigger .m_dd_arrow i {
	border-width: 5px
}

.coupon_dropdown .m_dropdown_cnt {
	top: 29px;
	width: 154px;
	border-color: #e4bfad;
	padding: 0
}

.coupon_dropdown .m_dropdown_list li {
	padding: 0
}

.coupon_dropdown .m_dropdown_list li,.coupon_dropdown .m_dropdown_list .m_option {
	height: 30px;
	line-height: 30px
}

.coupon_dropdown .m_dropdown_list .m_option_selected {
	background: #f3f3f3;
	color: #333
}

.coupon_activate .z_dropdown_open .m_dd_arrow {
	top: 8px
}

.coupon_tab {
	width: 100%;
	_position: relative
}

.coupon_tab_trigger {
	width: 100%;
	height: 30px
}

.coupon_tab_trigger .tab_trigger_item {
	border: 1px solid #facdb8;
	width: 118px;
	height: 29px;
	margin-bottom: -1px;
	line-height: 28px;
	text-align: center;
	float: left;
	margin-right: 5px;
	cursor: pointer
}

.coupon_tab_trigger .tab_trigger_selected {
	background: #fff;
	border-bottom: medium none;
	padding-bottom: 1px;
	*position: relative
}

.coupon_tab_trigger .tab_trigger_selected .title {
	font-weight: 700
}

.coupon_use_note2 {
	float: right;
	height: 30px;
	line-height: 30px;
	text-align: right;
	width: 300px;
	color: #888
}

.coupon_tab_note {
	color: #888;
	line-height: 20px;
	padding: 15px 0 5px
}

.coupon_tab_cnt {
	background: #fff;
	border: 1px solid #facdb8;
	_zoom: 1
}

.coupon_tab_cnt .tab_cnt_item {
	padding: 0 15px
}

.coupon_header {
	width: 100%;
	height: 32px;
	line-height: 33px;
	border-bottom: 1px solid #cacaca
}

.coupon_header .item {
	float: left;
	height: 32px;
	line-height: 32px;
	font-weight: 700;
	color: #444;
	font-family: '\5b8b\4f53'
}

.coupon_header .i1 {
	width: 12%;
	padding-left: 2%
}

.coupon_header .i2 {
	width: 23%;
	padding-left: 2%
}

.coupon_header .i3 {
	width: 18%;
	padding-left: 2%
}

.coupon_header .i4 {
	width: 33%;
	text-align: center
}

.coupon_header .i5 {
	width: 8%;
	_padding-top: 6px;
	_height: 26px;
	_line-height: 20px;
	_overflow: hidden
}

.coupon_header .m_bubble_black {
	font-weight: 400;
	left: -19px;
	top: -46px
}

.coupon_header .m_bubble_black .arrow_bottom {
	left: 93px
}

.coupon_body {
	width: 100%
}

.coupon_table {
	width: 914px
}

.coupon_table td {
	border-bottom: 1px dotted #cacaca;
	height: 33px;
	line-height: 33px;
	font-family: '\5b8b\4f53'
}

.coupon_table td.c1 {
	width: 14%;
	padding-left: 15px
}

.coupon_table td.c2 {
	width: 25%
}

.coupon_table td.c3 {
	width: 20%
}

.coupon_table td.c4 {
	width: 33%;
	text-align: center
}

.coupon_table td.c5 {
	width: 8%
}

.coupon_table td.c5 .btn_load {
	display: none;
	cursor: not-allowed
}

.coupon_table td.c5 .btn_used {
	display: none;
	cursor: default
}

.coupon_table td.z_coupon_use_load .btnbg,.coupon_table td.z_coupon_used_btn .btnbg {
	display: none
}

.coupon_table td.z_coupon_use_load .btn_load,.coupon_table td.z_coupon_used_btn .btn_used {
	display: inline-block
}

.coupon_footer {
	width: 100%;
	position: relative;
	height: 42px
}

.view_more_coupon {
	width: 100%;
	height: 42px;
	text-align: center;
	display: none
}

.coupon_more_link {
	display: inline-block;
	line-height: 42px;
	padding: 0 15px;
	cursor: pointer;
	position: relative
}

.coupon_more_link .arrow {
	position: absolute;
	right: 0;
	top: 16px;
	width: 10px;
	height: 10px;
	overflow: hidden
}

.coupon_more_link .arrow i {
	border-width: 5px;
	border-style: solid dashed dashed;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0
}

.coupon_more_link .arrow .layer1 {
	border-color: #666 transparent transparent;
	top: 2px
}

.coupon_more_link .arrow .layer2 {
	border-color: #fff transparent transparent;
	top: 0
}

.coupon_tip {
	padding: 30px 0;
	text-align: center
}

.coupon_none,.coupon_delay {
	padding: 32px 0
}

.coupon_none,.coupon_delay,.coupon_loading {
	display: none
}

.coupon_brand_used {
	position: absolute;
	right: 0;
	top: 6px;
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: right
}

.coupon_brand_used strong {
	display: inline-block;
	vertical-align: top
}

.coupon_brand_used .key_num {
	color: #f10180;
	padding: 0 5px
}

.coupon_brand_used .btnbg,.coupon_brand_used .btn_load {
	margin-left: 10px;
	vertical-align: top
}

.coupon_brand_used .btn_load {
	display: none
}

.z_coupon_overflow .coupon_body {
	height: 340px;
	overflow: hidden
}

.z_coupon_overflow .view_more_coupon,.z_coupon_more .view_more_coupon,.z_coupon_none .coupon_none,.z_coupon_delay .coupon_delay,.z_coupon_loading .coupon_loading {
	display: block
}

.z_coupon_none .coupon_footer .coupon_brand_used {
	display: none
}

.z_coupon_use_load2 .btnbg {
	display: none
}

.z_coupon_use_load2 .btn_load {
	display: inline-block
}

.cart_pay_num {
	width: 150px;
	margin-top: 10px;
	line-height: 24px
}

.cl_pay_detail {
	padding: 15px 0 10px;
	border: 1px solid #eccfde;
	border-bottom: 0;
	background: #fff9fc
}

.cl_pay_detail .pay_detail_item {
	line-height: 24px;
	font-size: 14px;
	text-align: right;
	margin: 0 30px
}

.cl_pay_detail .cart_detail_bottom {
	margin: 0 10px 0 30px
}

.cl_pay_detail .line_between {
	padding: 5px 20px 0;
	margin-top: 5px;
	border-top: 1px solid #dadada
}

.cl_pay_detail .cl_total {
	font-size: 24px
}

.cart_check_all {
	margin: 6px 8px 0 0;
	width: 13px;
	height: 13px
}

.cart_check_all_txt {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.cart_check_all_tip {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.cl_pay_detail2 {
	padding: 10px 10px 10px 30px
}

.cl_pay_detail2 p {
	line-height: 24px
}

.cart_check_bubble {
	bottom: 26px;
	left: -87px
}

.cart_check_bubble .arrow_bottom {
	left: 94px
}

.cart_pay_bar {
	width: 968px;
	height: 40px;
	padding: 15px;
	background: #fff;
	border: 1px solid #e9e9e9;
}

.cart_pay_bar .cart_time_tips {
	width: 240px;
	margin: 12px 0 0
}

.cl_goshopping {
	font-size: 12px;
	margin: 13px 35px 0 0
}

.cart_goshopping {
	padding-left: 15px;
	background-position: -600px -546px
}

.cart_pay_money {
	width: 250px;
	line-height: 40px;
	position: relative;
	padding-right: 10px
}

.cart_pay_money em {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle
}

.cart_pay_bar_f {
	position: fixed;
	z-index: 80;
	bottom: 0;
	box-shadow: 0 0 3px #98de9e;
	-webkit-box-shadow: 0 0 3px #98de9e;
	-moz-box-shadow: 0 0 3px #98de9e
}

.cart_pay_bar_d {
	position: static
}

.cl_pay_detail_min {
	width: 200px;
	padding: 5px 10px 0 0;
	background: #e3ffe8;
	border: 2px solid #98de9e;
	border-bottom: 0;
	text-align: right;
	line-height: 24px;
	position: absolute;
	right: 10px;
	bottom: 40px
}

.cl_hd {
	width: 138px;
	height: 38px;
	padding-left: 15px;
	display: block;
	border: 1px solid #f34e9b;
	border-right: 0;
	line-height: 38px
}

.cl_hd .popup_box {
	left: -10px;
	bottom: 44px
}

.cl_hd .popup_box .key_num {
	font-size: 14px;
	color: #239b2d;
	padding: 0 5px
}

.pay_online_check {
	margin-top: 13px;
	*margin-top: 8px
}

.cart_null {
	width: 600px;
	margin: 50px auto
}

.guide_img {
	margin-top: 10px;
	height: 33px;
	font: 14px/33px '\5FAE\8F6F\96C5\9ED1';
	padding-left: 64px
}

.guide_img .i2_tips {
	margin: 0 10px -8px 0
}

.guide_pop {
	width: 420px;
	padding: 30px;
	background: #fcfcfc;
	position: absolute;
	top: 60px;
	left: 40px;
	z-index: 1;
	border: 1px solid #dbdbdb;
	-moz-box-shadow: 0 1px 3px 1px #dbdbdb;
	-webkit-box-shadow: 0 1px 3px 1px #dbdbdb;
	box-shadow: 0 1px 3px 1px #dbdbdb
}

.guide_txt,.guide_txt2 {
	width: 290px;
	margin-bottom: 10px;
	color: #666
}

.guide_txt dt {
	margin-bottom: 10px;
	border-bottom: 1px solid #f4bfd7;
	font: 400 18px/24px '\5FAE\8F6F\96C5\9ED1';
	color: #e963a0
}

.guide_txt dd {
	line-height: 24px;
	padding-left: 13px;
	text-indent: -13px
}

.guide_txt dd .i2_gt {
	margin: 0 6px 0 2px;
	vertical-align: middle
}

.guide_txt2 {
	margin: 35px 0 0
}

.gudie_arrow {
	width: 20px;
	height: 20px;
	left: 48%;
	position: absolute;
	top: -20px
}

.gudie_arrow i {
	border-style: dashed dashed solid;
	border-width: 10px;
	position: absolute;
	top: 1px;
	width: 0;
	height: 0;
	left: 0;
	overflow: hidden
}

.gudie_arrow .layer1 {
	border-color: transparent transparent #fcfcfc;
	z-index: 2
}

.gudie_arrow .layer2 {
	border-color: transparent transparent #dbdbdb;
	z-index: 1;
	top: -1px
}

.guide_img_01 {
	background-position: 0 0;
	width: 90px;
	height: 150px
}

.guide_img_02 {
	background-position: -100px -50px;
	width: 122px;
	height: 123px
}

.order_success {
	margin: 90px auto 0
}

.order_success .order_info {
	width: 520px;
	margin: 0 auto 44px
}

.order_success .face_bar {
	width: 250px;
	margin: 0 auto 50px
}

.order_success .face_bar strong {
	font-size: 16px
}

.order_success .o_operate_2 {
	padding-left: 160px
}

.order_success .o_operate a {
	margin: 0 10px;
	display: inline-block
}

.order_success .suc_width {
	width: 400px
}

.order_success .face_bar_2 {
	width: 350px
}

.order_success .o_operate_2 {
	padding-left: 160px
}

.order_success .o_operate a {
	margin: 0 10px;
	display: inline-block
}

.suc_back_co {
	padding-right: 20px;
	background-position: 70px -545px
}

.order_related_tipbox {
	padding: 80px 0
}

.act_list {
	border: 1px solid #edebee;
	background: #f5f3f6;
	margin-top: 40px
}

.act_list .act_list_title {
	color: #666;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	padding-left: 18px
}

.act_list .act_list_content {
	width: 998px;
	height: 174px;
	overflow: hidden
}

.act_list .left {
	margin-right: 6px
}

.act_list li {
	float: left;
	display: inline-block;
	background: #fbf9fb;
	width: 456px;
	height: 64px;
	padding: 10px 20px;
	overflow: hidden;
	margin: 0 0 6px
}

.act_list table {
	color: #666;
	height: 64px;
	width: 456px
}

.act_list .text {
	padding-left: 11px
}

.act_list .text span {
	line-height: 24px;
	display: inline-block
}

.act_list .per_del,.act_list .per {
	text-align: center
}

.act_list .per_del {
	text-decoration: line-through
}

.act_list .button {
	padding-left: 24px
}

.act_list .button a,.act_list .button span {
	border: 1px solid #edc5da;
	background: #f5e7ee;
	color: #e23381;
	width: 65px;
	height: 18px;
	line-height: 18px;
	line-height: 22px 9;
	_line-height: 22px;
	text-align: center;
	display: inline-block;
	overflow: hidden
}

.act_list .button span {
	border: 1px solid #dbdbdb;
	background: #f4f1f4;
	color: #999
}

.pop_close_icon,.pop_close_icon1,.payment_popup .service_bar,.ico_right,.ico_wrong,.pay_faq_btn,.pay_faq_btn_open {
	background-image: url(../images/icons.png?e158a83b);
	background-repeat: no-repeat
}

.pop_close_icon {
	width: 10px;
	height: 10px;
	float: right;
	background-position: -500px 0;
	position: relative;
	display: inline;
	cursor: pointer
}

.pop_close_icon1 {
	width: 10px;
	height: 10px;
	background-position: -500px 0;
	cursor: pointer;
	display: inline-block
}

.shoppingbag_pupup {
	padding: 20px;
	background: #fdfdfd
}

.shoppingbag_pupup .button_bg_1,.shoppingbag_pupup .button_bg_2,.shoppingbag_pupup .button_bg_3 {
	margin: 15px auto
}

.pop_stock {
	width: 520px;
	padding: 30px
}

.pop_stock_hd {
	height: 32px;
	margin-bottom: 20px;
	line-height: 32px
}

.storck_icon {
	width: 42px;
	height: 32px;
	background-position: -200px -200px
}

.stock_tab {
	width: 100%;
	background: #fff;
	border: 1px solid #dbdada
}

.stock_tab th {
	height: 35px;
	background: #f7f7f7
}

.stock_tab td {
	padding: 7px 0;
	border-bottom: 1px solid #dbdada;
	text-align: center
}

.stock_tab .td_align_l {
	text-align: left
}

.stock_tab .green {
	color: #00ae39
}

.pop_stock_fd {
	padding-top: 10px;
	line-height: 30px
}

.shoppingbag_pupup .pop_stock_fd .button_bg_1 {
	margin: 0
}

.pop_coupon {
	width: 400px;
	padding: 10px 20px 50px
}

.pop_coupon .face_bar {
	margin: 40px 0 0 20px
}

.pop_coupon_tips {
	width: 280px;
	padding-top: 10px;
	line-height: 24px
}

.pop_coupon .button_bg {
	margin-left: 120px
}

.cart_gifts_slider {
	z-index: 10
}

.cart_gifts_slider .m_slider_cnt_item {
	padding: 0 0 0 20px;
	height: 310px
}

.gift_sep_line {
	border-top: 1px dotted #ccc
}

.gift_activity_top {
	font-size: 14px;
	line-height: 24px;
	padding: 15px 0;
	width: 960px
}

.gift_activity_title {
	color: #f43499;
	padding: 0 5px;
	font-family: '\5B8B\4F53',sans-serif
}

.gift_activity_list {
	width: 985px;
	margin-right: -5px
}

.gift_activity_list li {
	width: 172px;
	height: 80px;
	float: left;
	margin: 0 25px 0 0;
	padding-bottom: 20px
}

.gift_headimg {
	width: 62px;
	height: 80px;
	float: left;
	margin-right: 10px;
	position: relative;
	overflow: hidden
}

.gift_headimg_big {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 0;
	left: 72px;
	padding: 2px;
	width: 190px;
	height: 240px;
	z-index: 21
}

.gift_headimg_big .arrow {
	position: absolute;
	left: -10px;
	top: 10px;
	width: 10px;
	height: 10px
}

.gift_headimg_big .arrow i {
	border-style: dashed solid dashed dashed;
	border-width: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden
}

.gift_headimg_big .arrow .layer1 {
	border-color: transparent #ddd transparent transparent;
	left: -1px
}

.gift_headimg_big .arrow .layer2 {
	border-color: transparent #fff transparent transparent
}

.gift_details {
	width: 100px;
	float: left
}

.gift_details .gift_title {
	color: #999;
	line-height: 16px;
	padding-bottom: 6px;
	height: 32px
}

.gift_price {
	line-height: 16px;
	padding-bottom: 4px
}

.gift_price .current {
	font-size: 14px;
	margin-right: 8px
}

.gift_price .original {
	color: gray
}

.gift_btnbox {
	height: 20px;
	position: relative
}

.gift_unlike {
	color: gray;
	text-decoration: underline;
	margin-left: 7px
}

.gift_none {
	cursor: default
}

.gift_change_tip,.gift_del_tip {
	left: -72px;
	top: 30px;
	width: 199px;
	height: 145px;
	z-index: 11
}

.gift_change_tip .del_txt,.gift_del_tip .del_txt {
	font-size: 14px;
	height: 48px;
	line-height: 24px;
	padding: 25px 0 10px;
	text-align: center
}

.gift_change_tip .arrow {
	left: 86px
}

.gift_del_tip .arrow {
	left: 128px
}

.gift_check_load {
	font-family: '\5B8B\4F53',sans-serif;
	color: gray
}

.z_gift_single_page .m_slider_left,.z_gift_single_page .m_slider_right,.z_gift_single_page .m_slider_trigger {
	display: none
}

.z_gift_single_page .m_slider_cnt_item {
	display: block
}

.z_gift_single_row .m_slider_cnt_item {
	height: auto
}

.z_gift_change_tip,.z_gift_del_tip {
	z-index: 10
}

.gift_headimg:hover {
	zoom: 1;
	z-index: 20;
	overflow: visible
}

.gift_headimg:hover .gift_headimg_big {
	display: block
}

.gift_btnbox .gift_none,.gift_btnbox .gift_checked,.gift_btnbox .gift_check_load,.gift_btnbox .gift_unlike {
	display: none
}

.gift_btnbox .gift_check {
	display: inline-block
}

.z_gift_checked .gift_checked,.z_gift_checked .gift_unlike,.z_gift_none .gift_none,.z_gift_check_load .gift_check_load,.z_gift_change_tip .gift_change_tip,.z_gift_change_tip .gift_check,.z_gift_del_tip .gift_del_tip {
	display: inline-block
}

.z_gift_none .gift_check,.z_gift_check_load .gift_check,.z_gift_del_tip .gift_check,.z_gift_checked .gift_check {
	display: none
}

.bubble_nologin_paye {
	_zoom: 1
}

.bubble_nologin_paye:hover {
	*text-decoration: none
}

.bubble_nologin_paye .m_bubble_black {
	right: 0;
	top: 24px;
	width: 290px;
	text-align: left
}

.bubble_nologin_paye .arrow_top {
	right: 10px
}

.top_head_bd .m_bubble_black {
	_display: block;
	_visibility: hidden
}

.top_head_bd .m_bubble_trigger_hover .m_bubble_black {
	_visibility: visible
}

.coupon_box_nologin {
	display: none;
	padding: 10px 20px 0
}

.coupon_box_nologin .m_bubble_black {
	right: 0;
	top: 20px;
	width: 290px;
	_left: -256px;
	*top: 23px
}

.coupon_box_nologin .m_bubble_black .arrow_top {
	right: 22px
}

.z_nologin_cart .coupon_box {
	display: none
}

.z_nologin_cart .coupon_box_nologin {
	display: block
}

.relate_pro {
	margin: 60px 0 80px
}

.slider_tag {
	height: 33px;
	padding: 7px 0 0 30px;
	background: #e5e3e6
}

.slider_tag .toc {
	padding: 0 20px;
	float: left;
	line-height: 33px;
	color: gray;
	cursor: pointer
}

.slider_tag .selected {
	background: #fcfcfc;
	font-size: 14px;
	color: #333
}

.relate_pro .content_div {
	position: relative;
	z-index: 0;
	height: 330px;
	background: #fcfafd;
	padding: 20px 0 0 30px;
	display: none
}

.relate_pro .content_div_special .pro_relate_list {
	margin-right: 5px
}

.pro_relate_list {
	width: 182px;
	margin-right: 8px;
	float: left;
	display: inline;
	overflow: hidden
}

.pro_relate_list_w1 {
	width: 182px;
	height: 300px
}

.pro_relate_list_w2 {
	width: 310px;
	height: 271px
}

.pro_relate_list dd {
	height: 24px;
	text-align: center;
	line-height: 24px;
	overflow: hidden
}

.pro_relate_list dt img {
	border: 1px solid #ebebeb
}

.pro_relate_old {
	padding-right: 30px
}

.pro_relate_new {
	font-size: 16px
}

.relate_pro .btn {
	position: absolute;
	width: 24px;
	height: 50px;
	cursor: pointer
}

.relate_pro .ahead {
	background-position: -500px -250px;
	top: 105px;
	left: 6px
}

.relate_pro .next {
	background-position: -550px -250px;
	top: 105px;
	right: 6px
}

.relate_pro_te {
	margin: 0 auto 40px
}

.slider_tag_te {
	background: #eae8eb;
	border-top: 2px solid #d0cfd1;
	height: 28px;
	line-height: 28px;
	margin-bottom: 20px
}

.slider_tag_te .toc {
	cursor: pointer;
	float: left;
	padding: 0 16px;
	height: 28px;
	line-height: 28px
}

.slider_tag_te .selected {
	background: #f3f1f4;
	border-top: 2px solid #8ad998;
	margin-top: -2px
}

.relate_pro_te .pro_relate_list {
	width: 182px;
	padding: 10px 8px;
	margin-right: 0;
	height: 177px;
	border: 1px solid #f4f4f4
}

.relate_pro_te .pro_relate_list:hover,.relate_pro_te .hover {
	background: #fcfafc;
	border-color: #fff;
	box-shadow: -1px -1px 2px #e1e1e1,1px 1px 2px #e1e1e1
}

.relate_pro_te .pro_relate_list img {
	border: 0 none;
	display: block;
	margin: 0 auto
}

.relate_pro_te dt {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 182px;
	height: 107px
}

.relate_pro_te .add_to_container,.relate_pro_te .cart_msg_success,.relate_pro_te .cart_msg_fail {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,.9)!important;
	background: #fff;
	filter: alpha(opacity=90)
}

.relate_pro_te .add_success .add_to_container,.relate_pro_te .add_fail .add_to_container {
	bottom: -200px
}

.relate_pro_te .size_list_container {
	display: none
}

.relate_pro_te .pro_relate_list:hover .size_list_container,.relate_pro_te .hover .size_list_container {
	display: block
}

.relate_pro_te .size_list_container .hint {
	text-align: center;
	line-height: 1.5;
	margin-top: 10px
}

.relate_pro_te .size_list {
	display: none;
	padding: 0 8px;
	margin-right: -7px
}

.relate_pro_te .loaded .loading_hint,.relate_pro_te .submitting .loading_hint,.relate_pro_te .submit_hint {
	display: none
}

.relate_pro_te .loaded .size_list,.relate_pro_te .submitting .submit_hint {
	display: block
}

.relate_pro_te .size_list li {
	float: left;
	display: inline;
	margin: 7px 7px 0 0;
	width: 48px;
	height: 24px
}

.relate_pro_te .size_list li a {
	display: block;
	width: 36px;
	padding: 0 5px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	border: 1px solid #bfbfbf;
	background: #fff
}

.relate_pro_te .size_list li a:hover {
	border: 1px solid #e4378b;
	text-decoration: none;
	color: #333
}

.relate_pro_te .size_list .selected_size,.relate_pro_te .size_list .selected_size:hover {
	border: 2px solid #e4378b;
	height: 20px;
	position: relative
}

.relate_pro_te .size_list .selected_size .icon_select {
	background: url(../images/icons1.png?c698190b) no-repeat -200px 0;
	display: inline;
	position: absolute;
	bottom: 0;
	_bottom: -7px;
	right: 0;
	width: 8px;
	height: 8px
}

.relate_pro_te .button_bg {
	display: block;
	margin: 10px auto
}

.relate_pro_te .pro_relate_list:hover .button_bg_11,.relate_pro_te .hover .button_bg_11 {
	background-position: 0 0;
	color: #fff
}

.relate_pro_te .button_bg_3,.relate_pro_te .size_sold_out .button_bg_11 {
	display: none
}

.relate_pro_te .size_sold_out .button_bg_3 {
	display: block;
	cursor: default
}

.relate_pro_te .pager {
	text-align: right;
	padding: 10px 0
}

.relate_pro_te .pager .btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-weight: 700;
	cursor: pointer;
	vertical-align: middle;
	line-height: 28px;
	text-align: center;
	width: 28px;
	height: 28px;
	border: 1px solid #b3b3b3;
	margin-left: 10px
}

.relate_pro_te .pager .btn:hover {
	border: 1px solid #f0acc8;
	color: #fb4892
}

.relate_pro_te .cart_msg_success,.relate_pro_te .cart_msg_fail {
	bottom: -200px
}

.relate_pro_te .add_success .cart_msg_success,.relate_pro_te .add_fail .cart_msg_fail {
	bottom: 0
}

.relate_pro_te .cart_msg_success p,.relate_pro_te .cart_msg_fail p {
	padding: 10px 0
}

.relate_pro_te .icon_success,.relate_pro_te .icon_fail {
	margin-right: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 21px;
	height: 21px;
	vertical-align: middle;
	background: url(../images/icons.png?e158a83b) no-repeat left top transparent
}

.relate_pro_te .icon_success {
	background-position: -100px -850px
}

.relate_pro_te .icon_fail {
	background-position: -593px -1306px
}

.plr_top_btn {
	background-image: url(../images/list_imgs.png?f6399d78);
	background-repeat: no-repeat
}

.pro_list_recom {
	background-color: #e5e1e7;
	padding: 10px 0 30px
}

.plr_con {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden
}

.plr_top {
	padding: 10px 0 15px;
	font-size: 14px
}

.plr_top_tit {
	float: left
}

.plr_top_btn {
	float: right;
	padding-left: 20px;
	background-position: -500px -200px
}

.plr_top_btn a {
	color: #f10180
}

.plr_list {
	width: 1100px
}

.plr_item {
	float: left;
	width: 310px;
	height: 230px;
	margin-right: 34px;
	box-shadow: 0 0 2px #dcd8de
}

.plr_item_detail {
	width: 308px;
	height: 49px;
	background-color: #fcfafc;
	border: 1px solid #fff;
	border-top: 0;
	color: #333;
	line-height: 49px
}

.plrid_name {
	float: left;
	padding-left: 10px
}

.plrid_off {
	float: right;
	padding-right: 10px
}

.plrid_off i {
	font-size: 24px;
	font-weight: 700;
	color: #dc5c95
}

.cart_record {
	padding-bottom: 20px
}

.cart_record_hd {
	background: #eae8eb;
	border-top: 2px solid #d0cfd1;
	height: 28px;
	padding: 0
}

.cart_record_hd .toc {
	background: #f3f1f4;
	border-top: 2px solid #f43499;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-top: -2px;
	padding: 0 16px
}

.cart_record_bd {
	width: 998px;
	background: #fcfcfc;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1
}

.cart_record .pro_img_box {
	margin: 0;
	width: 49px;
	height: 62px;
	display: block;
	position: relative;
	z-index: 2
}

.cart_record .por_big_img {
	width: 190px;
	height: 240px;
	padding: 2px;
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 0;
	left: 60px;
	z-index: 1
}

.cart_record dl {
	width: 439px;
	height: 69px;
	padding: 7px 30px 0;
	float: left;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin-left: -1px
}

.cart_record dt {
	padding-right: 12px;
	float: left
}

.cart_record dd {
	height: 24px;
	padding-top: 5px;
	line-height: 24px
}

.record_tit {
	width: 200px;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.re_buy_btn {
	width: 90px;
	height: 20px;
	background-position: -50px -550px;
	border: 0;
	color: #239b2d;
	cursor: pointer
}

.cart_record .popup_box {
	left: -55px;
	bottom: 27px
}

.cart_record .popup_box_short {
	width: 75px;
	left: -2px;
	text-align: center
}

.cart_record .loading_box_xs {
	width: 90px;
	background: 0;
	border: 0;
	font-size: 12px
}