@charset "utf-8";

.onsale_brand,.pro_banner,.pro_search,.pro_list dl:hover {
	box-shadow: 0 0 3px #e4e3e5
}

.pro_search a.pro_selected,.pro_pickBar a.pro_selected,.pro_stockOnly a:hover,.page_cur,.page a:hover {
	border: 1px solid #6bc30d;
	background: #f9fef7;
	color: #6bc30d
}

.wrap {
	position: relative
}

.icon_a,.onsale_icon_hide,.onsale_icon_show,.onsale_tit_tag,.pro_stockOnly a,.pro_order a,.pro_banner_story,.pro_banner_time,.pro_list_all,.pro_list_info span.out,.pbc_icon,.pbc_common_point,.pbc_icon_sina,.tab_data_num span,.select_size_icon,.choose_success_tip,.sort_icon,.selector_txt,.subscribe_tip,.btn_myfav,.btn_myfav_ed,.ico_myfav_tips,.warmup_list_view,.soldout_like_btn {
	background-image: url(../images/list_imgs.png?f6399d78);
	background-repeat: no-repeat
}

.soldout_tag,.soldchance_tag,.pro_pick_btn,.warmup_time_info,.warmup_bar_sc,.w_share_weibo_title {
	background-image: url(../images/te_png24.png?2be7a243);
	_background-image: url(../images/te_png8_ie6.png?8cd56d67);
	background-repeat: no-repeat
}

.onsale_brand {
	width: 1000px;
	background: #f1eff2;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid #e7e4e7\9;
	height: 49px;
	position: relative;
	z-index: 3
}

.onsale_style {
	width: 98px;
	height: 48px;
	float: left;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	color: #F30082;
	font-family: \5FAE\8F6F\96C5\9ED1,arial,sans-serif;
	font-weight: 700;
	background-color: #faf4f8;
	position: relative
}

.onsale_style .icon_a {
	background-position: -300px -50px;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 8px;
	height: 8px;
	line-height: 0;
	_bottom: -10px
}

.onsale_brand .onsale_style_a {
	background-color: #fbf0f6
}

.onsale_brand .onsale_style_font .block_a {
	line-height: 25px;
	display: block
}

.onsale_brand .onsale_style_font .block_b {
	line-height: 15px;
	display: block
}

.onsale_brand_show {
	zoom: 1
}

.onsale_brand .onsale_logo {
	border-bottom: 1px solid #D7CED3;
	border-right: 1px solid #D7CED3;
	height: 47px
}

.onsale_brand_hi {
	overflow: hidden
}

.onsale_brand_vi {
	overflow: visible
}

.onsale_icon_show,.onsale_icon_hide {
	width: 82px;
	height: 48px;
	background-position: -108px -0;
	cursor: pointer;
	color: gray;
	line-height: 50px;
	background-color: #fcfafc;
	padding-left: 16px;
	position: absolute;
	right: 0;
	bottom: 0
}

.onsale_icon_show,.onsale_icon_hide,.onsale_brand .onsale_pic,.onsale_brand .onsale_pic_none,.onsale_style {
	border-left: 1px solid #fefdfe;
	border-right: 1px solid #eeecee;
	border-top: 1px solid #eeecee
}

.onsale_icon_hide {
	background-position: -208px 0;
	padding-left: 27px;
	width: 72px
}

.onsale_brand .onsale_pic {
	width: 98px;
	height: 48px;
	float: left;
	display: inline;
	z-index: 2
}

.onsale_brand .onsale_pic_none {
	width: 98px;
	height: 48px;
	float: left;
	background-color: #fcfafc;
	z-index: 2
}

.onsale_brand .onsale_pic .salebg2 {
	font-size: 14px;
	color: gray;
	font-weight: 700
}

.onsale_tit {
	width: 98px;
	background: #faf0f5;
	border: 1px solid #f1c0d5;
	color: gray;
	line-height: 16px;
	text-align: center;
	word-wrap: break-word;
	position: absolute;
	top: 57px;
	left: -10px;
	padding: 10px;
	display: none
}

.onsale_tit_tag {
	background-position: -250px -50px;
	position: absolute;
	top: -6px;
	left: 56px;
	width: 9px;
	height: 6px;
	display: block
}

.onsale_brand .onsale_pic:hover,.onsale_brand .onsale_pic_hover {
	position: relative;
	z-index: 3;
	box-shadow: 0 0 4px #cd197a
}

.onsale_brand .onsale_pic:hover .onsale_tit,.onsale_brand .onsale_pic_hover .onsale_tit {
	display: inline
}

.pro_banner {
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #fff;
	border: 1px solid #e7e4e7\9;
	background-color: #FCFAFC;
	position: relative
}

.pro_banner_fla {
	float: left;
	width: 690px;
	padding: 9px
}

.pro_banner_info {
	float: right;
	width: 290px;
	text-align: center;
	background: #FCFAFC;
	padding: 20px 0 0;
	position: relative;
	z-index: 1
}

.pro_banner_logo {
	height: 135px
}

.pro_banner_logo .figure_title {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	color: #000
}

.pro_banner_title {
	position: absolute;
	z-index: 10;
	top: -140px;
	left: 0;
	width: 200px;
	height: 120px;
	overflow: hidden;
	padding: 10px 45px 0;
	line-height: 20px;
	text-align: left;
	background-color: #fcfafc;
	filter: alpha(opacity=96);
	-moz-opacity: .96;
	opacity: .96
}

.pro_banner_title p {
	border-bottom: 1px solid #f1eff1;
	padding-bottom: 10px;
	height: 100px
}

.pro_banner_dis {
	margin: 5px 0
}

.pro_banner_story {
	display: inline-block;
	background-position: -300px -250px;
	line-height: 25px;
	width: 70px;
	text-align: left;
	text-indent: 8px;
	color: #4d4d4d
}

.pro_banner_story:hover {
	background-position: -400px -250px;
	color: #333;
	color: #4d4d4d
}

.pro_banner_story:active {
	background-position: 0 -300px
}

.salebg2 {
	color: #F43499;
	font-size: 26px
}

.pro_banner_time {
	background-position: -500px -150px;
	background-color: #ec1398;
	height: 18px;
	line-height: 18px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 10px 0 22px
}

.pro_banner_common {
	padding: 0 5px;
	_float: none;
	position: relative;
	z-index: 3;
	background-color: #FCFAFC
}

.pro_banner_common:hover .pbc_common,.pro_banner_common_hover .pbc_common {
	display: block
}

.pbc_sns {
	line-height: 23px;
	height: 23px;
	overflow: hidden;
	border-top: 1px dotted #d9d9d9
}

.pbc_sns p {
	float: left;
	overflow: hidden
}

.pbc_sns_list {
	float: left;
	height: 23px;
	width: 260px;
	overflow: hidden
}

.pbc_sns_list li {
	width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.pbc_icon {
	background-position: -350px 0;
	padding-left: 18px;
	vertical-align: -2px;
	zoom: 1
}

.pbc_common {
	position: absolute;
	top: 30px;
	left: 0;
	border: 1px solid #d1cfd2;
	background-color: #FFF;
	display: none
}

.pbc_common_point {
	position: absolute;
	display: inline-block;
	background-position: -440px 0;
	width: 10px;
	height: 6px;
	top: -6px;
	left: 60px
}

.pbc_common_title {
	font-weight: 700;
	line-height: 28px;
	background-color: #fcfafd;
	border-bottom: 1px solid #e6e6e6;
	padding-left: 10px;
	color: #555;
	height: 28px
}

.pbc_common_list {
	padding: 0 20px
}

.pbc_common_list li {
	border-bottom: 1px dotted #d4d4d4;
	margin-bottom: -1px;
	padding-bottom: 5px
}

.pbc_common_list li p {
	overflow: hidden;
	line-height: 1.5;
	padding-bottom: 4px;
	color: #686868;
	zoom: 1
}

.pbc_common_name {
	float: left;
	color: #da4c86;
	margin-top: 5px
}

.pbc_common_date {
	float: right;
	color: #b1b1b1;
	margin-top: 5px
}

.pbc_common_list .pbc_common_con {
	max-height: 52px;
	overflow: hidden
}

.pbc_icon_sina {
	display: inline-block;
	height: 14px;
	width: 14px;
	background-position: -400px 0;
	margin-left: 5px
}

.pro_search {
	position: relative;
	z-index: 12;
	margin-top: 10px;
	padding-top: 14px;
	border: 1px solid #fff;
	border: 1px solid #e7e4e7\9;
	background: #fcfafc;
	line-height: 22px
}

.pro_search ul {
	overflow: hidden
}

.pro_search label {
	float: left;
	font-weight: 700;
	line-height: 18px;
	margin: 0 12px 0 10px;
	display: inline;
	color: #666
}

.pro_block {
	width: 980px;
	height: 2px;
	background-position: 0 -250px
}

.pro_sortbar {
	line-height: 22px
}

.pro_sortbarAll {
	position: relative;
	z-index: 99
}

.pro_sortbarAll ul li {
	padding: 0 10px 16px 0;
	float: left;
	position: relative;
	z-index: 99
}

.pro_sortbarAll ul li a {
	line-height: 18px;
	padding: 0 9px;
	float: left;
	text-align: center;
	border: 1px solid #fcfafc;
	position: relative;
	z-index: 99
}

.pro_sortbarAll ul li a.act .sort_icon,.pro_sortbarAll ul li a:hover .sort_icon {
	display: inline
}

.pro_sortbarAll ul li a.active:hover .sort_icon {
	display: none
}

.pro_pickBar {
	position: relative;
	height: 29px;
	padding: 10px 0 21px;
	z-index: 1
}

.pro_pickBar_s {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff
}

.pro_stockOnly {
	float: left;
	margin-right: 10px;
	display: inline;
	text-align: center;
	line-height: 28px;
	cursor: pointer
}

.pro_stockOnly a {
	display: block;
	width: 108px;
	height: 28px;
	border: 1px solid #e0dee0;
	background-position: 0 0
}

.pro_order a {
	display: inline;
	float: left;
	width: 48px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px
}

.pro_order a.btn_discount {
	background-position: 0 -50px
}

.pro_order a.btn_discount_b {
	background-position: 0 -130px
}

.pro_order a.btn_discount:hover,.pro_order a.btn_discount_s {
	background-position: 0 -90px;
	color: #f10180
}

.pro_order a.btn_discount_b:hover,.pro_order a.btn_discount_b_s,.pro_order a.btn_discount_b_s:hover {
	background-position: 0 -170px;
	color: #f10180
}

.pro_order a.btn_price {
	background-position: -58px -50px
}

.pro_order a.btn_price_b {
	background-position: -58px -130px
}

.pro_order a.btn_price:hover,.pro_order a.btn_price_s {
	background-position: -58px -90px;
	color: #f10180;
	left: -1px;
	position: relative;
	padding-left: 11px
}

.pro_order a.btn_price_b:hover,.pro_order a.btn_price_b_s,.pro_order a.btn_price_b_s:hover {
	background-position: -58px -170px;
	color: #f10180;
	left: -1px;
	position: relative;
	padding-left: 11px
}

.pro_pick_guid {
	position: relative;
	width: 999px;
	height: 8px;
	border: 1px solid #fff;
	border-top: 0;
	background-color: #fcfafc;
	z-index: 12;
	box-shadow: 0 1px 1px #d9d9d9
}

.pro_pick_guid span.pro_pick_btn_up:hover {
	background-position: 0 -200px
}

.pro_pick_btn {
	position: absolute;
	width: 118px;
	height: 41px;
	left: 440px;
	bottom: -37px;
	cursor: pointer
}

.pro_pick_btn_more {
	background-position: 0 -150px
}

.pro_pick_btn_up {
	background-position: 0 -100px
}

.pro_choose_fixed {
	position: fixed;
	top: -163px;
	width: 1000px;
	z-index: 20;
	box-shadow: 0 0 3px #e4e3e5
}

.pro_choose_fixed .pro_pickBar {
	background: #FCFAFC;
	padding: 16px 8px 13px 10px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	box-shadow: 0 2px 3px #e4e3e5
}

.pro_choose_fixed .pro_block {
	display: block
}

.pro_choose_fixed .pro_search {
	border-bottom: 0;
	box-shadow: 0 -3px 3px #e4e3e5
}

.pro_cate ul li {
	padding: 0 10px 16px 0;
	float: left
}

.pro_cate ul li a {
	line-height: 18px;
	padding: 0 9px;
	float: left;
	display: inline;
	text-align: center;
	border: 1px solid #ebe8ed
}

.pro_sort_cate {
	width: 998px;
	padding-top: 14px;
	background-color: #ebe8ed;
	border: 1px solid #fff;
	border-bottom: 0;
	border-top: 0;
	border-left: 0\9;
	border-right: 0\9;
	border-color: #e7e4e7\9;
	position: relative
}

.pro_sort_cate_a {
	width: 998px;
	padding-top: 14px;
	background-color: #ebe8ed;
	border: 1px solid #fff;
	border-bottom: 0;
	border-top: 0;
	border-color: #e7e4e7\9;
	position: absolute;
	top: 47px;
	z-index: 100
}

.sort_icon {
	background-position: -250px -66px;
	width: 13px;
	height: 8px;
	position: absolute;
	bottom: -18px;
	_bottom: -23px;
	left: 30px;
	z-index: 99;
	display: none
}

.pro_list {
	width: 1022px;
	margin-left: -10px
}

.pro_list dl {
	width: 235px;
	padding: 9px;
	float: left;
	display: inline;
	border: 1px solid #f3f1f4;
	overflow: hidden;
	-moz-transition: background .2s linear 0s;
	-webkit-transition: background .2s linear 0s;
	transition: background .2s linear 0s
}

.pro_list dl:hover,.pro_list .dl_hover {
	border: 1px solid #fff;
	border: 1px solid #e7e4e7\9;
	background: #f3fdec
}

.pro_list_pic {
	width: 235px;
	height: 137px;
	position: relative;
	margin-bottom: 8px;
	overflow: hidden;
	z-index: 1
}

.sold_tag {
	width: 78px;
	height: 78px;
	position: absolute;
	top: -2px;
	right: -2px;
	z-index: 10;
	display: none
}

.soldout_tag {
	background-position: 0 0
}

.soldchance_tag {
	background-position: -100px 0;
	z-index: 12
}

.soldchance_tip {
	background-position: 0 -300px;
	position: absolute;
	width: 248px;
	height: 33px;
	left: 310px;
	top: -50px;
	padding: 9px;
	z-index: 100
}

.brand_tit,.pro_list_tit {
	line-height: 16px;
	width: 225px
}

.pro_list_tit {
	max-height: 32px;
	overflow: hidden;
	line-height: 16px;
	padding-top: 2px
}

.pro_list_data em {
	font: 700 16px/30px arial;
	margin-right: 7px
}

.pro_list_data del {
	margin-left: 5px
}

.pro_find_none {
	height: 400px;
	font-weight: 700;
	text-align: center
}

.pro_list_info {
	position: absolute;
	width: 235px;
	bottom: 0;
	left: 0;
	display: none
}

.pro_list_size {
	width: 237px;
	overflow: hidden
}

.pro_list_info p {
	text-align: center;
	line-height: 26px;
	width: 235px
}

.pro_list_info p,.pro_list_info span {
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	color: #fff;
	font-weight: bolder
}

.pro_list_info span.hidden {
	background: #fcfafc;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	display: inline
}

.pro_list_info span {
	width: 78px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	margin: 1px 1px 0 0;
	float: left;
	overflow: hidden
}

.pro_list_info span.out {
	background-position: -350px 0
}

.pro_list_more {
	margin: 22px 0 9px;
	overflow: hidden
}

.pro_list_more .page {
	margin: 0
}

.pro_list_all {
	float: left;
	background-position: -400px -50px;
	padding-left: 23px;
	width: 66px;
	font-weight: 700;
	margin: 10px 0 7px;
	line-height: 13px
}

.pro_list_more .pro_block {
	width: 1000px;
	background-position: 0 -256px
}

.pro_list_active {
	width: 235px;
	position: absolute;
	bottom: 0;
	left: 0;
	filter: Alpha(opacity=90);
	background: #fbf9fd;
	background: rgba(251,249,253,.9) none repeat scroll 0 0;
	_display: none
}

.pro_list_active .btn100 {
	margin: 10px auto
}

.pro_list_active .tab_data .btn100 {
	margin: 5px auto 10px
}

.pro_list_active .pop_close_bar {
	height: 15px
}

.pro_list_active .pop_close_btn {
	top: 5px;
	right: 5px
}

.tab_data {
	width: 235px
}

.select_size_comm {
	position: relative;
	width: 96px;
	height: 21px;
	border: 2px solid #f10180;
	padding-left: 10px;
	line-height: 21px;
	background-color: #fff
}

.select_size_icon {
	width: 10px;
	height: 9px;
	background-position: -350px -50px;
	position: absolute;
	bottom: 0;
	right: 0
}

.tab_data label {
	line-height: 25px;
	padding: 0 2px 10px 30px
}

.tab_data_num {
	overflow: hidden;
	border: 1px solid #b3b3b3;
	width: 78px;
	height: 23px
}

.tab_data_num span {
	width: 23px;
	height: 23px;
	float: left;
	display: inline;
	cursor: pointer
}

.tab_data_num_l {
	background-position: -150px -150px
}

.tab_data_num_l_act {
	background-position: -250px -150px
}

.tab_data_num_r {
	background-position: -200px -150px
}

.tab_data_num_r_act {
	background-position: -300px -150px
}

.tab_data_num_m {
	float: left;
	display: inline;
	width: 32px;
	background-color: #fff;
	cursor: default;
	text-align: center;
	line-height: 23px
}

.shopping_submit_load {
	width: 98px;
	height: 28px;
	line-height: 28px;
	margin: 10px 0 10px 67px;
	background-color: #f7ecf2;
	border: 1px solid #f4bdd5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: none
}

.shopping_submit_load .pop_load {
	background: url(../images/loading_a.gif?f555f767) no-repeat;
	margin-left: 8px;
	padding-left: 25px
}

.choose_success_time {
	padding: 12px 0 14px 30px
}

.choose_success_tip {
	background-position: -400px -100px;
	line-height: 20px;
	font-weight: 700;
	padding-left: 30px;
	margin-left: 50px
}

.page {
	height: 30px;
	margin: 25px 0 30px
}

.page a {
	-moz-transition: all .2s ease-out 0s;
	-webkit-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;
	font-size: 14px
}

.page .page_pre,.page .page_next {
	font-size: 16px
}

.page .page_dots {
	text-indent: 5px
}

.page a,.page .page_dots,.page .page_pre,.page .page_next {
	float: left;
	width: 28px;
	height: 28px;
	margin-left: 2px;
	display: inline;
	text-align: center;
	line-height: 28px;
	background: #fcfafc;
	border: 1px solid #e5e3e5;
	font-family: \5B8B\4F53,arial,sans-serif;
	color: #666
}

.page .page_total {
	margin-right: 8px;
	float: left;
	line-height: 30px
}

.page_special {
	float: right;
	margin: 0
}

.page .page_select {
	float: left;
	margin-left: 2px;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border: 1px solid #6bc30d;
	background: #f9fef7;
	color: #6bc30d;
	font-size: 14px
}

.pop_up_area {
	position: absolute;
	z-index: 100
}

.pop_subscribe {
	width: 395px;
	background-position: 0 -100px;
	margin: 53px 90px 0 95px;
	padding-left: 60px;
	height: 67px;
	line-height: 25px
}

.subscribe_select {
	margin: 0 0 40px 62px;
	position: relative
}

.inp_defaul_txt {
	padding-left: 5px;
	position: absolute;
	color: #989898;
	left: 90px;
	top: 4px
}

.subscribe_text {
	float: left;
	display: inline;
	margin-right: 10px;
	width: 229px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #b3b3b3;
	padding-left: 11px
}

.subscribe_text:focus {
	border: 1px solid #df81a5
}

.pop_subscribe_btn {
	margin: 0 0 30px 180px;
	overflow: hidden
}

.pop_subscribe_btn a {
	float: left;
	margin-left: 40px;
	display: inline
}

.subscribe_tip_error02 {
	left: 0;
	bottom: 38px;
	*left: 62px
}

.pro_soldout_sub {
	padding: 40px 0 47px 216px
}

.pro_soldout_title {
	background-position: -150px -539px;
	padding-left: 55px;
	line-height: 2;
	font-size: 14px;
	margin: 21px 0 21px 145px
}

.pro_soldout_tip {
	margin: 0 0 18px 62px
}

.pro_soldout_tip a {
	text-decoration: underline;
	padding-left: 8px
}

.pro_soldout_sub .pop_subscribe_btn {
	margin: 33px 0 20px 105px
}

.tit_goods_tab {
	width: 980px;
	height: 33px;
	border-bottom: 1px solid #e2e0e3;
	padding: 6px 0 0 20px;
	background: #edebee
}

.tit_goods_tab .toc {
	height: 33px;
	float: left;
	display: inline;
	text-align: center;
	line-height: 33px;
	cursor: pointer;
	margin-right: 14px;
	padding: 0 20px
}

.tit_goods_tab .selected {
	background: #f3f1f4;
	font-weight: bolder;
	border: 1px solid #e2e0e3;
	border-bottom: 0
}

.tit_goods_list {
	padding: 20px 0 62px;
	overflow: hidden
}

.pro_relate_list {
	width: 180px;
	height: 300px;
	padding: 0 10px;
	float: left
}

.pro_relate_list dt {
	width: 178px;
	height: 225px;
	border: 1px solid #fbf9fc;
	overflow: hidden
}

.pro_relate_list dd {
	height: 24px;
	text-align: center;
	line-height: 24px
}

.new_price {
	font-size: 16px;
	padding-left: 18px
}

.tit_goods_bar {
	overflow: hidden;
	margin-bottom: 23px
}

.tit_goods_bar .pro_block {
	width: 395px;
	margin: 7px 0 0 1px;
	float: left;
	display: inline;
	background-position: 0 -253px
}

.tit_goods_bar span {
	float: left;
	margin: 0 20px;
	display: inline;
	font-size: 14px;
	color: gray
}

.pro_soldout_pop {
	position: absolute;
	top: 330px;
	left: 38%;
	z-index: 100;
	width: 25%;
	height: 170px;
	text-align: center
}

.pro_soldout_pop p {
	margin: 0 40px
}

.pro_soldout_pop .pop_ok_btn {
	width: 100px;
	height: 30px;
	margin: 35px auto
}

.pro_soldout_tit {
	margin-bottom: 50px
}

.pro_soldout_tit_tip {
	margin-bottom: 10px;
	font-size: 16px;
	color: #666
}

.list_soldout_tips {
	height: 96px;
	padding: 10px 0;
	border: 1px solid #fff;
	background: #fcfafd;
	box-shadow: 0 0 3px 1px #e6e4e7;
	margin: 25px 0
}

.list_soldout_like {
	width: 370px;
	border-right: 1px dotted #ccc;
	padding: 10px 0
}

.soldout_like_box {
	overflow: hidden;
	padding-top: 10px
}

.soldout_like_box a {
	text-decoration: underline
}

.soldout_like_box .soldout_like_btn {
	text-decoration: none;
	display: block;
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-indent: 25px;
	background-position: 0 -250px;
	margin-top: 15px
}

.soldout_like_box .soldout_like_btn:hover,.soldout_like_box .soldout_liked_btn {
	background-position: -100px -250px
}

.soldout_like_box .soldout_like_btn:active {
	background-position: -200px -250px
}

.soldout_logo {
	margin: 0 15px
}

.shop_tips01 {
	right: 0;
	bottom: 0;
	width: 160px;
	z-index: 110
}

.shop_tips02 {
	left: -1px;
	top: -58px;
	width: 200px
}

.shop_tips03 {
	left: 0;
	bottom: 200px;
	height: 42px;
	width: 100%;
	z-index: 999
}

.shop_tips03 p {
	line-height: 42px;
	padding-left: 200px
}

.shop_tips03 strong {
	font-size: 14px;
	color: #fff
}

.shop_tips03 a {
	display: inline-block;
	width: 100px;
	height: 23px;
	color: #fff;
	background: #df2c88;
	text-align: center;
	line-height: 23px;
	margin-left: 22px
}

.shop_tips03 span {
	display: inline-block;
	width: 100px;
	height: 23px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	background: #c0809f;
	line-height: 23px;
	margin-left: 12px
}

.selector_root {
	float: left;
	color: #333
}

.selector_txt {
	background-position: -150px -100px;
	width: 134px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	text-indent: 8px
}

.selector_sel {
	border: 1px solid #b3b3b3;
	border-top: 0;
	padding: 4px 0;
	background-color: #fff;
	position: absolute
}

.selector_opt {
	width: 132px;
	height: 19px;
	line-height: 19px;
	display: block;
	text-indent: 8px;
	cursor: pointer
}

.selector_opt:hover {
	color: #f0f1f3;
	background-color: #F10180
}

.pop_w1 {
	width: 380px;
	height: 200px
}

.pop_load {
	background: url(../images/loading.gif?b77c3066) no-repeat;
	padding-left: 40px
}

.pop_margin_h {
	margin: 60px 0 0 38px
}

.pop_margin_e {
	margin: 26px 0
}

.pop_margin_g {
	margin-left: 140px
}

.pop_margin_w {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding-top: 35px
}

.pop_face {
	background-position: -150px -100px;
	padding: 3px 0 28px 64px;
	line-height: 34px;
	margin: 0 45px
}

.pop_phone {
	width: 315px;
	height: 94px;
	overflow: hidden;
	border-top: 1px solid #e9e9e9;
	padding: 23px 29px 39px 16px;
	margin: 0 29px
}

.pop_phone p {
	line-height: 24px
}

.pop_phone a {
	margin-top: 15px
}

.pop_phone_icon {
	background-position: 0 -300px;
	width: 93px;
	height: 94px;
	float: left;
	display: inline;
	margin-right: 20px
}

.pop_w4 {
	width: 348px;
	height: 187px;
	text-align: center;
	box-shadow: 0 0 6px #4c4c4c
}

.pop_w5 {
	width: 348px;
	height: 207px;
	text-align: center;
	box-shadow: 0 0 6px #4c4c4c
}

.pop_subscribe_success {
	background-position: -150px -50px;
	font-weight: 700;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin: 36px 0 27px 120px;
	text-indent: -85px
}

.pop_subscribe_error {
	background-position: -150px -450px;
	font-weight: 700;
	font-size: 14px;
	color: #666;
	line-height: 22px
}

.pop_subscribe_error01 {
	margin: 20px 0 24px 87px;
	text-indent: -43px
}

.pop_subscribe_error02 {
	margin: 20px 0 24px 25px;
	text-indent: 20px
}

.btn_myfav,.btn_myfav_ed {
	display: inline-block;
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-indent: 25px;
	text-align: left;
	background-position: 0 -250px;
	margin-right: 7px;
	color: #4d4d4d
}

.btn_myfav:hover,.btn_myfav_ed {
	background-position: -100px -250px;
	color: #4d4d4d
}

.btn_myfav:active {
	background-position: -200px -250px
}

.btn_myfav_ed {
	cursor: pointer
}

.ico_myfav_tips {
	position: absolute;
	left: 125px;
	top: 80px;
	width: 75px;
	height: 26px;
	line-height: 24px;
	background-position: -400px -174px;
	text-align: left;
	padding-left: 25px;
	color: #333;
	filter: alpha(opacity=80);
	opacity: .8
}

.ico_myfav_tips a {
	margin-left: 5px;
	text-decoration: underline;
	color: #F10180
}

.pop_hightvalue_tit {
	width: 150px;
	margin: 15px auto
}

.pop_hightvalue_p a {
	color: #db5c95
}

.hidden {
	display: none
}

.pro_share {
	height: 24px;
	margin-right: 9px;
	padding-left: 8px;
	position: relative
}

.pro_share_control {
	position: relative;
	line-height: 27px;
	cursor: pointer;
	zoom: 1
}

.pro_share_control em {
	position: absolute;
	top: 13px;
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-style: solid dashed dashed;
	border-color: #4d4d4d transparent transparent;
	border-width: 3px
}

.share_sn,.share_tx,.share_kj,.share_rr,.share_db,.share_kx {
	background-image: url(../images/detail_imgs_png8.png?4f21b312);
	background-repeat: no-repeat
}

.pro_share:hover .pro_share_box,.pro_share_hover .pro_share_box {
	visibility: visible
}

.pro_share:hover .pro_share_control em,.pro_share_hover .pro_share_control em {
	border-style: dashed dashed solid;
	border-color: transparent transparent #4d4d4d;
	top: 8px
}

.pro_share_box {
	position: absolute;
	width: 100%;
	background: #fcfafc;
	left: 7px;
	top: 22px;
	border-top: 1px solid #ccc;
	padding-top: 3px;
	visibility: hidden
}

.pro_share_box a {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 7px 0 0;
	cursor: pointer
}

.pro_share_box i {
	position: absolute;
	right: 54px;
	top: -8px;
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-style: dashed dashed solid;
	border-color: transparent transparent #ccc;
	border-width: 4px
}

.pro_share_box .pro_share_arrow2 {
	top: -7px;
	border-color: transparent transparent #fcfafc
}

.share_sn {
	background-position: 0 -350px
}

.share_tx {
	background-position: -50px -350px
}

.share_kj {
	background-position: -100px -350px
}

.share_rr {
	background-position: -150px -350px
}

.share_db {
	background-position: -200px -350px
}

.share_kx {
	background-position: -250px -350px
}

.share_sn:hover {
	background-position: 0 -300px
}

.share_tx:hover {
	background-position: -50px -300px
}

.share_kj:hover {
	background-position: -100px -300px
}

.share_rr:hover {
	background-position: -150px -300px
}

.share_db:hover {
	background-position: -200px -300px
}

.share_kx:hover {
	background-position: -250px -300px
}

.pro_pms {
	padding: 10px 0 0 10px;
	background-color: #fcfafc;
	margin-top: 1px
}

.pro_pms dl {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 10px
}

.pp_class {
	float: left;
	text-align: center;
	height: 18px;
	line-height: 18px;
	color: #fff;
	background-color: #f30082;
	padding: 0 3px
}

.pp_con {
	float: left;
	width: 800px;
	color: #f30082;
	padding-left: 10px;
	line-height: 18px
}

.plr_top_btn {
	background-image: url(../images/list_imgs.png?f6399d78);
	background-repeat: no-repeat
}

.pro_list_recom {
	background-color: #e5e1e7;
	padding: 10px 0 30px
}

.plr_con {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden
}

.plr_top {
	padding: 10px 0 15px;
	font-size: 14px
}

.plr_top_tit {
	float: left
}

.plr_top_btn {
	float: right;
	padding-left: 20px;
	background-position: -500px -200px
}

.plr_top_btn a {
	color: #f10180
}

.plr_list {
	width: 1100px
}

.plr_item {
	float: left;
	width: 310px;
	height: 230px;
	margin-right: 34px;
	box-shadow: 0 0 2px #dcd8de
}

.plr_item_detail {
	width: 308px;
	height: 49px;
	background-color: #fcfafc;
	border: 1px solid #fff;
	border-top: 0;
	color: #333;
	line-height: 49px
}

.plrid_name {
	float: left;
	padding-left: 10px
}

.plrid_off {
	float: right;
	padding-right: 10px
}

.plrid_off i {
	font-size: 24px;
	font-weight: 700;
	color: #dc5c95
}

.list_html_define {
	width: 1020px;
	margin: 0 auto
}

.pro_cover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: .85;
	filter: Alpha(opacity=85);
	z-index: -1
}

#list_define .pro_cover {
	display: block;
	_display: none
}

#list_define .pro_choose {
	position: relative;
	margin-bottom: 10px;
	padding: 0 10px 3px;
	_width: 1000px;
	_background-color: #fefdfe;
	z-index: 9
}

#list_define .pro_sort_cate_a,#list_define .pro_sort_cate {
	background-color: #fcfbfd;
	border: 1px solid #cecfd0
}

#list_define .pro_sort_cate_a {
	top: 50px
}

#list_define .pro_search ul {
	overflow: visible
}

#list_define .sort_icon {
	background-position: -300px -200px;
	_bottom: -26px
}

#list_define .wrap {
	width: 1020px
}

#list_define .onsale_brand,#list_define .pro_banner {
	display: none
}

#list_define .pro_list {
	margin-left: 0;
	background: rgba(255,255,255,.85);
	background-color: #fff\9;
	width: 1020px
}

#list_define .pro_list dl {
	border: 0;
	padding: 10px
}

#list_define .pro_list dl:hover {
	box-shadow: none
}

#list_define .pro_search {
	border: 0;
	background: 0;
	box-shadow: none
}

#list_define .pro_pickBar {
	padding-bottom: 10px
}

#list_define .pro_sortbarAll a {
	border: 0;
	padding-top: 1px;
	padding-bottom: 1px
}

#list_define .pro_sortbarAll a.pro_selected {
	border: 1px solid #6bc30d;
	padding-top: 0;
	padding-bottom: 0
}

#list_define .pro_cate a {
	border-color: #fcfbfd
}

#list_define .pro_cate a.pro_selected {
	border-color: #f43499
}

#list_define .page {
	margin: 0
}

#list_define .page_special {
	_margin: 0 10px 0 0
}

#list_define .list_define_page {
	background: rgba(254,253,254,.85);
	margin: 0 0 10px;
	padding: 25px 10px 30px 0
}

#list_define .pro_list_recom {
	width: 1020px;
	margin: 0 auto 80px;
	background: rgba(254,253,254,.85);
	background-color: #ededed\9
}

.m_brand_figure {
	position: relative
}

.m_brand_figure .pro_share {
	border: 0 none;
	float: left;
	margin-top: 15px;
	padding-bottom: 10px
}

.m_brand_figure .pro_share_box {
	width: 280px;
	left: 0;
	top: 30px;
	background: #fbf9fb;
	padding-top: 6px;
	height: 26px;
	line-height: 1
}

.m_brand_figure .pro_share_box i {
	top: -13px;
	border-width: 6px;
	right: auto;
	left: 50%;
	margin-left: -6px
}

.m_brand_figure .pro_share_box .pro_share_arrow2 {
	top: -12px
}

.m_brand_figure .pro_banner_info {
	position: absolute;
	left: 50%;
	width: 280px;
	height: 245px;
	margin: 20px 0 0 -500px;
	padding-top: 40px;
	z-index: 10;
	opacity: .9;
	filter: alpha(opacity=90)
}

.m_brand_figure .pro_banner_time {
	left: 0;
	right: auto;
	top: 10px
}

.m_brand_figure .pro_banner_logo {
	height: 170px
}

.m_brand_figure .pro_banner_dis {
	margin: 8px 0
}

.m_brand_figure .ico_myfav_tips {
	left: 94px;
	top: 180px
}

.brand_review {
	line-height: 27px;
	margin-top: 15px
}

.m_adaptive_album {
	position: relative;
	height: 350px;
	overflow: hidden
}

.m_ada_imgList {
	position: absolute;
	width: 1920px;
	left: 50%;
	margin-left: -960px
}

.m_ada_img {
	float: left;
	width: 1920px;
	height: 350px
}

.m_ada_right {
	font-size: 60px;
	font-weight: 900;
	font-family: \5B8B\4F53;
	color: #fff;
	text-shadow: 0 0 5px rgba(64,64,64,.45);
	position: absolute;
	top: 140px;
	right: 50%;
	margin-right: -495px;
	z-index: 10;
	width: 30px;
	opacity: .8;
	filter: alpha(opacity=80)
}

.m_ada_right:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff
}

.m_ada_selectIcon {
	position: absolute;
	top: 315px;
	right: 50%;
	margin-right: -495px
}

.m_ada_selectIcon span {
	font-size: 24px;
	font-weight: 700;
	font-family: tahoma;
	color: #fff;
	text-shadow: 0 0 5px rgba(64,64,64,.45);
	margin-left: 5px;
	cursor: default;
	opacity: .8;
	filter: alpha(opacity=80)
}

.m_ada_selectIcon .now-img {
	color: #f10180;
	opacity: 1;
	filter: alpha(opacity=100)
}

.shop_bag_special .shop_bag .shop_bag_icon {
	bottom: 45px
}

.sidebar_car_special .shop_bag_icon {
	bottom: 115px
}

.sold_size {
	width: 235px;
	position: relative;
	background: rgba(251,249,253,.9)!important;
	background: #fbf9fd;
	filter: alpha(opacity=90);
	*padding-bottom: 10px
}

.sold_size_tit {
	color: #666;
	padding: 10px 0 0 12px;
	height: 14px
}

.sold_size_list {
	padding: 10px 0 0 12px
}

.ssl_loading {
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 34px
}

.ssl_item {
	float: left;
	margin: 0 8px 8px 0
}

.ssl_item_tit {
	float: left;
	height: 22px;
	line-height: 22px
}

.ssl_item_link {
	display: inline-block;
	height: 21px;
	border: 1px solid #bfbfbf;
	text-align: center;
	line-height: 21px;
	color: #333;
	padding: 0 8px;
	min-width: 17px;
	cursor: pointer
}

.ssl_item_link:hover {
	background-color: #fff;
	border-color: #f43499
}

.ssl_item_soldout .ssl_item_link {
	background-color: #d9d9d9;
	border: 1px solid #ccc;
	color: #999;
	cursor: default
}

.ssl_item_chance .ssl_item_link {
	background: url(../images/list_size_rep.png?2ea3323c) repeat-x;
	border: 1px solid #bfbfbf;
	color: #333;
	cursor: default
}

.chance_guide {
	position: relative;
	height: 0;
	font-size: 0;
	line-height: 0
}

.cg_step1 {
	position: absolute;
	width: 265px;
	height: 288px;
	background: url(../images/resource/list_guide_step1.png?a98d1ab3) no-repeat;
	z-index: 100;
	top: -200px;
	left: 249px;
	display: none
}

.cg_step2 {
	position: absolute;
	width: 325px;
	height: 312px;
	background: url(../images/resource/list_guide_step2.png?c0145dc4) no-repeat;
	z-index: 100;
	top: -5px;
	left: 495px;
	display: none
}

.cg_close {
	position: absolute;
	width: 14px;
	height: 14px;
	cursor: pointer;
	top: 13px;
	right: 15px
}

.cg_next {
	position: absolute;
	width: 100px;
	height: 30px;
	cursor: pointer;
	top: 124px;
	left: 32px
}

.cg_step2 .cg_next {
	top: 192px;
	left: 112px
}

.warmup_wrap {
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 178px;
	position: relative
}

.warm_logo {
	width: 1000px;
	height: 380px;
	margin: 0 auto 70px;
	position: relative
}

.warm_logo_img {
	position: absolute;
	top: 10px;
	left: 0
}

.warmup_time {
	margin-bottom: 10px;
	position: relative
}

.warmup_time_bg {
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	height: 30px
}

.warmup_time_info {
	background-position: -150px -150px;
	padding-left: 24px;
	height: 18px;
	line-height: 14px;
	position: absolute;
	top: 6px;
	left: 10px;
	color: #e5e5e5;
	font-size: 14px
}

.warmup_bg {
	position: relative
}

.warmup_bg .page {
	margin: 15px 0 0
}

.warmup_bg .page .page_total {
	background-color: #fcfafc;
	padding: 0 7px;
	margin-right: 4px
}

.warmup_bg .warmup_list dl {
	border: 0;
	padding: 10px
}

.warmup_list dl dt {
	background-color: #fefdfe
}

.warmup_list dl dd {
	background-color: #fefdfe;
	padding-left: 10px
}

.warmup_list .pro_list_tit {
	width: 225px
}

.warmup_list_view {
	position: absolute;
	left: 65px;
	top: 131px;
	width: 98px;
	padding-left: 8px;
	line-height: 31px;
	box-shadow: 0 0 0 2px rgba(255,255,255,.5);
	border-radius: 1px;
	background-position: -150px -200px;
	filter: alpha(opacity=90);
	-moz-opacity: .9;
	opacity: .9;
	display: none
}

.warmup_list_view:hover {
	background-position: 0 -200px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	color: #dc5c95
}

.pro_list dl:hover .warmup_list_view,.pro_list .dl_hover .warmup_list_view,.pro_list dl:hover .warmup_list_act,.pro_list .dl_hover .warmup_list_act {
	display: inline
}

.warmup_list_act {
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.warmup_list_bg {
	background-color: #fff;
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	opacity: .7;
	width: 235px;
	height: 297px
}

.warmup_list_res {
	position: absolute;
	top: 111px;
	left: 58px;
	width: 120px
}

.warmup_list_res .btn100 {
	margin: 0 0 4px 10px
}

.warmup_list_res p {
	line-height: 24px
}

.warmup_comimg {
	float: left;
	display: inline;
	width: 235px;
	height: 369px;
	margin: 10px;
	position: relative
}

.warmup_comimg_txt {
	position: absolute;
	left: 45px;
	top: 165px;
	font-size: 22px;
	color: #777
}

.equal_0 {
	display: none
}

.ssli_onslect,.ssli_oncollect,.wcs_icon,.warm_list_collect_tag,.warm_win_close,.warm_win_icon,.warm_win_retry,.wlsb_icon,.wls_btn,.warmup_notice_close,.list_warm_mprice_icon,.i_m_tb_cd,.b_collect,.b_collect,.b_collect_loading {
	background-image: url(../images/list_warm_imgs.png?6dc387ad);
	background-repeat: no-repeat
}

.warm_list_collect_tag {
	position: absolute;
	width: 63px;
	height: 24px;
	top: 3px;
	right: 3px;
	background-position: 0 -50px;
	display: none
}

.warmup_list .pro_list_pic {
	margin-bottom: 0
}

.warmup_list .brand_tit {
	padding-top: 10px
}

.warm_list_con .ssl_item {
	position: relative
}

.warm_list_con .ssl_item_link:hover {
	background: 0
}

.ssli_selected .ssl_item_link {
	border: 2px solid #f10180;
	height: 19px;
	line-height: 19px;
	padding: 0 7px
}

.ssli_onslect {
	position: absolute;
	width: 11px;
	height: 12px;
	bottom: 0;
	right: 1px;
	display: none;
	background-position: 0 0
}

.ssli_selected .ssli_onslect {
	display: block
}

.ssli_oncollect {
	position: absolute;
	width: 37px;
	height: 18px;
	top: -10px;
	right: -20px;
	background-position: -50px 0;
	z-index: 1;
	display: none
}

.ssli_collected .ssl_item_link,.ssli_collected .ssl_item_link:hover {
	cursor: default;
	border-color: #bfbfbf;
	background-color: #e0e0e0
}

.ssli_collected:hover .ssli_oncollect {
	display: block
}

.warm_list_size {
	text-align: center;
	padding: 7px 0 7px 40px;
	bottom: 0;
	position: absolute
}

.warm_list_size_singel {
	padding: 7px 0 7px 75px
}

.wls_btn_wrap {
	float: left;
	width: 94px;
	height: 31px;
	overflow: hidden
}

.wls_btn {
	display: inline-block;
	color: #fb4892;
	width: 94px;
	height: 31px;
	line-height: 30px;
	color: #fb4892;
	cursor: pointer;
	background-position: 0 -100px
}

.wlsb_disabled {
	cursor: default;
	background-position: 0 -150px;
	color: #9b9a9a
}

.wlsb_loading_icon {
	float: left;
	position: relative;
	top: 5px;
	left: 8px;
	width: 20px;
	height: 20px;
	background: url(../images/loading_a.gif?f555f767)
}

.warm_list_size_tips {
	position: absolute;
	width: 122px;
	height: 26px;
	padding-top: 10px;
	border: 1px solid #f8dbb1;
	background-color: #fffaf3;
	bottom: 5px;
	left: 50%;
	margin-left: -61px;
	text-align: center;
	display: none
}

.wlsb_arrow1 {
	display: block;
	border-width: 0 5px 5px;
	border-color: transparent transparent #f8dbb1;
	border-style: solid;
	_border-style: solid dashed dashed;
	position: absolute;
	left: 55px;
	top: -5px;
	width: 0;
	height: 0
}

.wlsb_arrow2 {
	display: block;
	border-width: 0 5px 5px;
	border-color: transparent transparent #fffaf3;
	border-style: solid;
	_border-style: solid dashed dashed;
	position: absolute;
	left: -5px;
	top: 1px;
	width: 0;
	height: 0
}

.wlsb_icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -100px -100px;
	vertical-align: middle;
	margin: -1px 5px 0 0
}

.warm_collect_success {
	text-align: center;
	padding: 18px;
	font-size: 14px
}

.wcs_icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -100px 0;
	vertical-align: middle;
	margin-right: 5px
}

.wls_info {
	float: left;
	height: 31px;
	padding: 0 10px;
	color: #000
}

.wls_info i {
	color: #f43499
}

.warm_win {
	width: 300px;
	height: 200px;
	padding: 5px;
	position: relative;
	background: #fff;
	background: rgba(255,255,255,.5);
	filter: Alpha(Opacity=50)
}

.warm_win_con {
	position: relative;
	text-align: center;
	background-color: #fff;
	height: 200px
}

.warm_win_close {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 5px;
	right: 5px;
	cursor: pointer;
	background-position: -100px -150px
}

.warm_win_icon {
	display: inline-block;
	width: 32px;
	height: 33px
}

.wwi_success {
	background-position: -100px -50px;
	margin-top: 18px
}

.wwi_fail {
	background-position: -150px -150px;
	margin-top: 30px
}

.wws_top {
	width: 266px;
	border-bottom: 1px solid #dedede;
	padding: 10px 0 15px;
	margin: 0 auto 10px;
	font-size: 14px;
	font-weight: 700
}

.wws_txt {
	margin-bottom: 10px;
	color: #666
}

.wws_msg {
	color: #b2b2b2
}

.warm_win_retry {
	display: inline-block;
	width: 94px;
	height: 31px;
	background-position: 0 -100px;
	line-height: 31px;
	color: #fb4892;
	cursor: pointer;
	margin-top: 10px
}

.warm_list_size_ok {
	text-align: center;
	padding: 7px;
	bottom: 0;
	position: absolute;
	z-index: 2;
	background: #fff!important;
	font-size: 14px;
	display: none
}

.warm_list_size_ok .warm_win_icon {
	vertical-align: middle;
	margin: 0 4px 0 0
}

.wls_icon {
	display: inline-block
}

.m_tools_bar {
	position: absolute;
	height: 70px;
	width: 100%;
	background: rgba(0,0,0,.8);
	top: 380px;
	z-index: 100
}

.m_tools_bar_fixed {
	position: fixed;
	top: 0
}

.m_tb_con {
	width: 1000px;
	height: 70px;
	margin: 0 auto
}

.m_tb_date {
	float: left;
	color: #7e7e7e;
	padding-top: 15px;
	line-height: 1.4;
	margin-right: 40px;
	font-size: 15px;
	color: #fff
}

.i_m_tb_cd {
	float: left;
	width: 13px;
	height: 13px;
	background-position: -200px 0;
	margin: 4px 3px 0 0
}

.m_tb_state {
	float: left;
	padding: 20px 10px 0;
	margin-right: 30px
}

.m_tb_state i {
	color: #e03488
}

.m_tb_state_tit {
	font-size: 20px;
	color: #fff;
	min-width: 215px;
	text-align: right
}

.m_tb_state_tit i {
	content: #e03488
}

.m_tb_state_tit_btn {
	border-bottom: 1px solid #fff;
	cursor: pointer
}

.m_tb_state_tit_btn i {
	border-bottom: 1px solid #e03488;
	padding: 0 2px
}

.m_tb_state_cnum {
	color: #7e7e7e;
	float: right
}

.m_tb_code {
	float: left;
	overflow: hidden;
	*zoom: 1
}

.m_tb_code_img {
	float: left;
	margin-right: 5px
}

.m_tb_code_tit {
	font-size: 20px;
	color: #fff;
	margin-top: 10px;
	width: 220px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.m_tb_code_msg {
	font-size: 15px;
	color: #b8b7b5;
	width: 220px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.m_tb_collect {
	float: left;
	text-align: center;
	height: 70px;
	overflow: hidden
}

.s_hadcollected {
	padding: 0;
	margin: 1px 0
}

.m_tb_collect_btn {
	width: 169px;
	height: 46px;
	overflow: hidden;
	margin-top: 6px
}

.b_collect {
	display: inline-block;
	width: 169px;
	height: 46px;
	background-position: 0 -200px;
	cursor: pointer
}

.b_collect:hover {
	background-position: 0 -250px
}

.b_collect_loading {
	display: inline-block;
	width: 169px;
	height: 46px;
	background-position: 0 -300px
}

.m_tb_collect_cnum {
	color: #7e7e7e
}

.m_tb_collect_cnum i {
	color: #bfbfbf
}

.s_hadcollected .m_tb_state_hadcollected {
	display: block
}

.m_tb_state_hadcollected {
	width: 126px;
	height: 68px;
	background-color: #ff9e3f;
	text-align: center;
	color: #fff;
	display: none
}

.m_tb_state_hadcollected p {
	font-size: 24px;
	border-bottom: 1px dotted #af6721;
	width: 85px;
	margin: 0 auto 5px;
	line-height: 40px
}

.m_tb_state_hadcollected span {
	color: #af6721
}

.m_tb_state_hadcollected span i {
	color: #82450a
}

.m_tb_share {
	float: right;
	height: 35px;
	margin-top: 10px;
	border-left: 1px dotted #414141;
	padding: 15px 0 0 40px
}

.m_tb_share .widget_share_txt {
	color: #e03488
}

.warmup_notice {
	background-color: #fff8ef;
	border: 1px solid #edc386;
	font-size: 16px;
	padding: 10px 15px;
	position: relative;
	color: #424141;
	margin: 20px 0 15px
}

.warmup_notice_strong {
	font-size: 18px;
	font-weight: 700
}

.warmup_notice_close {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background-position: -100px -150px
}

.list_warmup_code {
	position: fixed;
	width: 122px;
	height: 163px;
	left: 50%;
	margin-left: -670px;
	bottom: 100px
}

.pop_img {
	width: 510px;
	height: 321px;
	position: relative
}

.pop_close {
	width: 26px;
	height: 26px;
	position: absolute;
	right: 2px;
	top: 52px;
	cursor: pointer
}

.pop_more {
	width: 167px;
	height: 42px;
	position: absolute;
	left: 211px;
	top: 200px
}

.detail_mtit {
	text-align: center;
	width: 310px;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 9px
}

.detail_mtit_con {
	display: inline-block;
	height: 46px;
	border-top: 1px solid #c7c9c8;
	line-height: 46px;
	color: #666
}

.detail_mtit_con em {
	font-size: 16px;
	padding-left: 10px;
	color: #333
}

.list_warm_mprice_con {
	padding-bottom: 5px;
	display: none
}

.list_warm_mprice {
	display: inline-block;
	color: #4f4e4e;
	height: 21px;
	line-height: 21px;
	border: 1px solid #fee5c5;
	padding: 0 5px;
	background-color: #fff7ed
}

.list_warm_mprice i {
	color: #fb4892
}

.list_warm_mprice_icon {
	float: left;
	width: 10px;
	height: 14px;
	background-position: -150px 0;
	margin: 3px 5px 0 0
}

.warm_mprice_mark {
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.warn_bar_wrap {
	float: left;
	overflow: hidden;
	*zoom: 1
}

.warn_m_tit {
	float: left;
	margin-right: 50px
}

.wmt_off {
	font-size: 22px;
	color: #fff;
	line-height: 1.5
}

.wmt_off span {
	font-size: 24px;
	padding-left: 3px
}

.wmt_card {
	font-size: 20px;
	color: #b8b7b5
}

.warm_m_code {
	float: left;
	margin-right: 50px
}

.warm_m_btn {
	float: left;
	padding-top: 7px;
	margin-right: 20px
}

.warm_m_btn_txt {
	color: #fff;
	text-align: center;
	margin-bottom: 5px
}

.warm_m_btn_wrap {
	width: 117px;
	height: 30px;
	margin: 0 auto;
	overflow: hidden
}

.warm_m_btn_wrap .wbc_btn {
	width: 117px;
	height: 30px;
	font-size: 14px;
	line-height: 30px
}

.warm_m_btn_wrap .wbc_btn_disabled,.warm_m_btn_wrap .wbc_btn_loading {
	width: 117px;
	height: 30px;
	border: 0
}

.warmup_wrap .pro_list_recom {
	padding: 10px 10px 30px
}

.warmup_wrap .plr_item {
	margin-right: 25px
}

.warmup_wrap .plr_top_btn {
	margin-right: 20px
}