@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,p,th,td {
	margin: 0;
	padding: 0
}

body,html {
	height: 100%
}

body {
	font-size: 12px;
	font-family: "微软雅黑",arial,'\5B8B\4F53',sans-serif;
	background: #f4f4f4;
	color: #333
}

h1,h2,h3,h4,h5,h6,input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse
}

ul,ol {
	list-style: none
}

em,i,address {
	font-style: normal
}

fieldset,img {
	border: 0
}

a {
	color: #333;
	text-decoration: none
}

a:hover {
	color: #239b2d;
	text-decoration: underline
}

.clearfix:after {
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden
}

.clearfix {
	*zoom: 1
}

select {
	height: 22px;
	line-height: 22px
}

.mgc {
	margin: 0 auto
}

img {
	vertical-align: top
}

.wrap {
	width: 1000px;
	margin: 0 auto
}

#container {
	width: 1000px;
	margin: 0 auto;
	padding: 25px 0 35px
}

.hlight_main {
	color: #239b2d
}

.gray {
	color: gray
}

.light_gray {
	color: #999
}

.f_gray_666 {
	color: #666
}

.deep_yellow {
	color: #ee802f
}

.f_blue,a.f_blue {
	color: #3466aa
}

.bold {
	font-weight: 700
}

.f0 {
	font-size: 0
}

.f20 {
	font-size: 20px
}

.f18 {
	font-size: 18px
}

.f16 {
	font-size: 16px
}

.f14 {
	font-size: 14px
}

.f12 {
	font-size: 12px
}

.fl {
	float: left;
	display: inline
}

.fr {
	float: right;
	display: inline
}

.hidden {
	display: none
}

.inline {
	display: inline
}

.inline-block {
	display: inline-block
}

.vhidden {
	visibility: hidden
}

label,.cursor {
	cursor: pointer
}

.underline,.h_underling:hover {
	text-decoration: underline
}

.input_text,.inp_txt {
	height: 22px;
	padding-left: 5px;
	border: 1px solid #b3b3b3;
	color: #999;
	line-height: 22px
}

.input_radio {
	margin: 0;
	padding: 0;
	vertical-align: middle
}

.input_check {
	margin: 0;
	padding: 0;
	vertical-align: middle
}

.not_allowed {
	cursor: not-allowed
}

#_diaBackground {
	background-color: #000;
	filter: alpha(opacity=40);
	opacity: .4
}

.fwr {
	font-family: '\5FAE\8F6F\96C5\9ED1',sans-serif
}

.fst {
	font-family: '\5B8B\4F53',sans-serif
}

.far {
	font-family: Arial,sans-serif
}

.mt10 {
	margin-top: 10px
}

.mr10 {
	margin-right: 10px
}

.mb10 {
	margin-bottom: 10px
}

.ml10 {
	margin-left: 10px
}

.mt15 {
	margin-top: 15px
}

.mr15 {
	margin-right: 15px
}

.mb15 {
	margin-bottom: 15px
}

.ml15 {
	margin-left: 15px
}

.mt20 {
	margin-top: 20px
}

.mr20 {
	margin-right: 20px
}

.mb20 {
	margin-bottom: 20px
}

.ml20 {
	margin-left: 20px
}

.mt30 {
	margin-top: 30px
}

.mr30 {
	margin-right: 30px
}

.mb30 {
	margin-bottom: 30px
}

.ml30 {
	margin-left: 30px
}

.pt10 {
	padding-top: 10px
}

.pr10 {
	padding-right: 10px
}

.pb10 {
	padding-bottom: 10px
}

.pl10 {
	padding-left: 10px
}

.pt15 {
	padding-top: 15px
}

.pr15 {
	padding-right: 15px
}

.pb15 {
	padding-bottom: 15px
}

.pl15 {
	padding-left: 15px
}

.pt20 {
	padding-top: 20px
}

.pr20 {
	padding-right: 20px
}

.pb20 {
	padding-bottom: 20px
}

.pl20 {
	padding-left: 20px
}

.pt30 {
	padding-top: 30px
}

.pr30 {
	padding-right: 30px
}

.pb30 {
	padding-bottom: 30px
}

.pl30 {
	padding-left: 30px
}

.vt {
	vertical-align: top
}

.vm {
	vertical-align: middle
}

.vb {
	vertical-align: bottom
}

.f_tal {
	text-align: left
}

.f_tac {
	text-align: center
}

.f_tar {
	text-align: right
}

.pd_l_20 {
	padding-left: 20px
}

.pd_r_30 {
	padding-right: 30px
}

.mg_l_20 {
	margin-left: 20px
}

.mg_r_20 {
	margin-right: 20px
}

.td_align_l {
	text-align: left
}

.td_align_r {
	text-align: right
}

::-webkit-input-placeholder {
	color: gray
}

:-moz-placeholder {
	color: gray
}

::-moz-placeholder {
	color: gray
}

:-ms-input-placeholder {
	color: gray
}

.icons1,.i1_arrow_9,.m_slider_left,.m_slider_right,.e_pay_tag,.e_pay_check,.e_pay_forbid,.quickpay_preview {
	background-image: url(../images/icons1.png?5510cfbb);
	background-repeat: no-repeat
}

.icons2,.i2_tips,.i2_gt,.i2_right_32,.i2_right_21,.i2_right_16,.i2_warn_16,.i2_warn_32,.m_popup_close,.guide_img_01,.guide_img_02 {
	background-image: url(../images/icons2.png?32ab32b9);
	background-repeat: no-repeat
}

.icons24,.face_yh {
	background-image: url(../images/icons24.png?ccc9ce51);
	background-repeat: no-repeat
}

.icons24_ie6 {
	background-image: url({$imgDomain
}/cart/te2/icons24_ie6.png);background-repeat:no-repeat
}

.i1_arrow_9 {
background-position: -150px 0;
width: 9px;
height: 9px;
display: inline-block;
overflow: hidden
}

.i2_tips {
background-position: -100px 0;
width: 145px;
height: 33px;
display: inline-block
}

.i2_gt {
background-position: 0 -150px;
width: 4px;
height: 5px;
display: inline-block;
overflow: hidden
}

.i2_right_32 {
background-position: -250px 0;
width: 32px;
height: 32px;
display: inline-block
}

.i2_right_21 {
background-position: -350px 0;
width: 21px;
height: 21px;
display: inline-block
}

.i2_right_16 {
background-position: -400px 0;
width: 16px;
height: 16px;
display: inline-block
}

.i2_warn_16 {
background-position: -400px -100px;
width: 17px;
height: 16px;
display: inline-block
}

.i2_warn_32 {
background-position: -250px -100px;
width: 32px;
height: 32px;
display: inline-block
}

.face_yh {
display: inline-block;
width: 44px;
height: 56px
}

.face_yh {
background-position: 0 0
}

.m_popup {
background: rgba(255,255,255,.6);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99ffffff', EndColorStr='#99ffffff');
padding: 5px;
width: 400px
}

:root .m_popup {
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00ffffff', EndColorStr='#00ffffff')
}

.m_popup_skin2 {
background: rgba(204,204,204,.4);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66cccccc', EndColorStr='#66cccccc');
padding: 5px
}

:root .m_popup_skin2 {
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00cccccc', EndColorStr='#00cccccc')
}

.m_popup_main {
background: #fff;
width: 100%;
position: relative;
padding: 35px 0
}

.m_popup_close {
background-position: 0 -200px;
position: absolute;
right: 10px;
top: 10px;
width: 12px;
height: 12px;
overflow: hidden;
cursor: pointer
}

.m_popup_close:hover {
background-position: -50px -200px
}

.m_popup_wrap2 {
position: absolute;
left: 50%
}

.m_popup_inner2 {
position: relative;
left: -50%
}

.m_popup_skin2 .m_popup_main {
padding: 20px 0
}

.m_popup_tip {
padding: 0 30px;
text-align: center
}

.m_popup_tip .tip_box {
line-height: 30px;
padding: 0 0 20px 40px;
display: inline-block;
*display: inline;
*zoom: 1
}

.m_popup_tip .tip_box .txt {
font: 700 14px/30px '\5FAE\8F6F\96C5\9ED1',sans-serif;
text-align: left
}

.m_popup_tip .i2_right_32,.m_popup_tip .i2_warn_32 {
margin: 0 0 -8px -40px;
float: left
}

.m_popup_tip .tip_detail {
line-height: 30px;
padding: 0 0 20px;
display: inline-block;
*display: inline;
*zoom: 1
}

.m_popup_tip .tip_detail .txt {
color: #666;
text-align: left
}

.m_bubble_trigger {
position: relative;
cursor: pointer
}

.m_bubble {
display: none;
width: 240px;
padding: 7px 10px;
color: #666;
font-size: 12px;
line-height: 18px;
background: #fffdf2;
position: absolute;
border: 1px solid #ffd699
}

.m_bubble_arrow_top,.m_bubble_arrow_right,.m_bubble_arrow_bottom,.m_bubble_arrow_left {
position: absolute;
height: 12px;
width: 12px
}

.m_bubble_arrow_top em,.m_bubble_arrow_right em,.m_bubble_arrow_bottom em,.m_bubble_arrow_left em {
position: absolute;
border-width: 6px;
width: 0;
height: 0;
overflow: hidden
}

.m_bubble_arrow_top {
top: -12px
}

.m_bubble_arrow_top em {
border-style: dashed dashed solid
}

.m_bubble_arrow_top .layer1 {
border-color: transparent transparent #ffd699
}

.m_bubble_arrow_top .layer2 {
border-color: transparent transparent #fffdf2;
top: 1px
}

.m_bubble_arrow_right {
right: -12px
}

.m_bubble_arrow_right em {
border-style: dashed dashed dashed solid
}

.m_bubble_arrow_bottom {
bottom: -12px
}

.m_bubble_arrow_bottom em {
border-style: solid dashed dashed
}

.m_bubble_arrow_bottom .layer1 {
border-color: #ffd699 transparent transparent
}

.m_bubble_arrow_bottom .layer2 {
border-color: #fffdf2 transparent transparent;
bottom: 1px
}

.m_bubble_arrow_left {
left: -12px
}

.m_bubble_arrow_left em {
border-style: dashed solid dashed dashed
}

.m_bubble_arrow_left .layer1 {
border-color: transparent #ffd699 transparent transparent
}

.m_bubble_arrow_left .layer2 {
border-color: transparent #fffdf2 transparent transparent;
left: 1px
}

.m_bubble_trigger:hover .m_bubble,.m_bubble_trigger_hover .m_bubble {
display: block
}

.m_bubble_black {
display: none;
width: 180px;
padding: 7px 10px;
color: #fff;
font-size: 12px;
line-height: 18px;
background: #626262;
background: rgba(0,0,0,.6);
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
position: absolute
}

.m_bubble_black .arrow_top,.m_bubble_black .arrow_right,.m_bubble_black .arrow_bottom,.m_bubble_black .arrow_left {
position: absolute;
height: 12px;
width: 12px
}

.m_bubble_black em {
position: absolute;
left: 0;
top: 0;
opacity: .6;
filter: alpha(opacity=60);
border-width: 6px;
width: 0;
height: 0;
overflow: hidden
}

.m_bubble_black .arrow_top {
top: -12px
}

.m_bubble_black .arrow_top .layer {
border-style: dashed dashed solid;
border-color: transparent transparent #000
}

.m_bubble_black .arrow_right {
right: -12px
}

.m_bubble_black .arrow_right .layer {
border-style: dashed dashed dashed solid;
border-color: transparent transparent transparent #000
}

.m_bubble_black .arrow_bottom {
bottom: -12px
}

.m_bubble_black .arrow_bottom .layer {
border-style: solid dashed dashed;
border-color: #000 transparent transparent
}

.m_bubble_black .arrow_left {
left: -12px
}

.m_bubble_black .arrow_left .layer {
border-style: dashed solid dashed dashed;
border-color: transparent #000 transparent transparent
}

.m_bubble_trigger:hover .m_bubble_black,.m_bubble_trigger_hover .m_bubble_black {
display: block
}

.m_confirm_trigger {
position: relative
}

.m_confirm_tip {
position: absolute;
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 1px 1px 3px #ccc,-1px -1px 3px #ccc;
display: none;
width: 160px;
height: 98px
}

.m_confirm_tip .arrow {
position: absolute;
top: -13px;
height: 13px;
width: 12px
}

.m_confirm_tip .arrow i {
position: absolute;
left: 0;
top: 0;
border-width: 6px;
border-style: dashed dashed solid;
width: 0;
height: 0;
overflow: hidden
}

.m_confirm_tip .arrow .layer1 {
border-color: transparent transparent #cdcdcd
}

.m_confirm_tip .arrow .layer2 {
border-color: transparent transparent #fff;
top: 2px
}

.m_confirm_tip .btnbox {
text-align: center
}

.z_confirm_show .m_confirm_tip {
display: block
}

.m_slider {
width: 100%;
position: relative;
padding-bottom: 20px
}

.m_slider_left,.m_slider_right {
position: absolute;
width: 28px;
height: 54px;
top: 50%;
margin-top: -47px;
cursor: pointer;
filter: alpha(opacity=80);
opacity: .8
}

.m_slider_left {
background-position: 0 -100px;
left: 0
}

.m_slider_right {
background-position: -50px -100px;
right: 0
}

.m_slider_left:hover {
background-position: -100px -100px
}

.m_slider_right:hover {
background-position: -150px -100px
}

.m_slider_trigger {
height: 20px;
text-align: center;
line-height: 20px
}

.m_slider_trigger_item {
display: inline-block;
font-family: tahoma;
font-size: 20px;
font-weight: 700;
margin: 0 3px 0 2px;
color: #ccc;
cursor: pointer
}

.m_slider_trigger_on {
color: #f10180
}

.m_slider_cnt {
width: 100%
}

.m_slider_cnt_item {
display: none
}

.m_dropdown {
position: relative;
width: 82px;
height: 24px;
z-index: 20
}

.m_dropdown_trigger {
border: 1px solid #b3b3b3;
color: #999;
cursor: pointer;
height: 22px;
line-height: 22px;
overflow: hidden;
position: relative
}

.m_dropdown_trigger .m_dd_txt {
padding-left: 10px
}

.m_dropdown_trigger .m_dd_arrow {
position: absolute;
right: 4px;
top: 8px;
width: 8px;
height: 8px;
overflow: hidden
}

.m_dropdown_trigger .m_dd_arrow i {
border-width: 4px;
border-style: solid dashed dashed;
width: 0;
height: 0;
overflow: hidden;
position: absolute;
left: 0;
top: 0
}

.m_dropdown_trigger .m_dd_arrow .layer1 {
border-color: #606060 transparent transparent;
top: 2px
}

.m_dropdown_trigger .m_dd_arrow .layer2 {
border-color: #fff transparent transparent;
top: 0
}

.m_dropdown_cnt {
background: #fff;
border: 1px solid #feb3da;
width: 80px;
position: absolute;
top: 23px;
z-index: 25;
display: none;
padding: 4px 0
}

.m_dropdown_tip {
padding: 4px 8px 0 4px;
color: #f10180;
line-height: 20px
}

.m_dropdown_list {
width: 100%
}

.m_dropdown_list li {
height: 22px;
overflow: hidden;
padding: 1px 0
}

.m_option {
cursor: pointer;
height: 22px;
line-height: 22px;
overflow: hidden;
padding-left: 10px
}

.m_option:hover {
color: #f10180
}

.m_option_selected {
background: #f10180;
color: #fff
}

.m_option_selected:hover {
color: #fff
}

.z_dropdown_open {
z-index: 21
}

.z_dropdown_open .m_dropdown_trigger {
border-color: #feb3da;
color: #333
}

.z_dropdown_open .m_dropdown_cnt {
display: block
}

.z_dropdown_open .m_dd_arrow {
top: 7px
}

.z_dropdown_open .m_dd_arrow i {
border-style: dashed dashed solid
}

.z_dropdown_open .m_dd_arrow .layer1 {
border-color: transparent transparent #606060;
top: -2px
}

.z_dropdown_open .m_dd_arrow .layer2 {
border-color: transparent transparent #fff;
top: 0
}

.z_dropdown_selected .m_dropdown_trigger .m_dd_txt {
color: #333
}

.m_icotip_16 {
display: inline-block;
height: 16px;
line-height: 16px
}

.m_icotip_16 .ico {
margin-right: 5px;
vertical-align: top
}

.m_icotip_16 .txt {
color: gray;
display: inline-block
}

.m_icotip_20 {
display: inline-block;
height: 20px;
line-height: 20px
}

.m_icotip_20 .ico {
margin-right: 5px;
vertical-align: top
}

.m_icotip_20 .txt {
color: gray;
display: inline-block
}

.u_arrow1_t {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow1_t em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow1_t em {
border-style: dashed dashed solid;
left: 0
}

.u_arrow1_t .layer1 {
border-color: transparent transparent #000;
bottom: 0
}

.u_arrow1_t .layer2 {
border-color: transparent;
bottom: 1px
}

.u_arrow1_t .layer3 {
border-color: transparent;
bottom: 2px
}

.u_arrow1_r {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow1_r em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow1_r em {
border-style: dashed dashed dashed solid;
top: 0
}

.u_arrow1_r .layer1 {
border-color: transparent transparent transparent #000;
left: 0
}

.u_arrow1_r .layer2 {
border-color: transparent;
left: 1px
}

.u_arrow1_r .layer3 {
border-color: transparent;
left: 2px
}

.u_arrow1_b {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow1_b em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow1_b em {
border-style: solid dashed dashed;
left: 0
}

.u_arrow1_b .layer1 {
border-color: #000 transparent transparent;
top: 0
}

.u_arrow1_b .layer2 {
border-color: transparent;
top: 1px
}

.u_arrow1_b .layer3 {
border-color: transparent;
top: 2px
}

.u_arrow1_l {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow1_l em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow1_l em {
border-style: dashed solid dashed dashed;
top: 0
}

.u_arrow1_l .layer1 {
border-color: transparent #000 transparent transparent;
right: 0
}

.u_arrow1_l .layer2 {
border-color: transparent;
right: 1px
}

.u_arrow1_l .layer3 {
border-color: transparent;
right: 2px
}

.u_arrow2_t {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow2_t em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow2_t em {
border-style: dashed dashed solid;
left: 0
}

.u_arrow2_t .layer1 {
border-color: transparent transparent #000;
bottom: 0
}

.u_arrow2_t .layer2 {
border-color: transparent;
bottom: 1px
}

.u_arrow2_t .layer3 {
border-color: transparent transparent red;
bottom: 2px
}

.u_arrow2_r {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow2_r em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow2_r em {
border-style: dashed dashed dashed solid;
top: 0
}

.u_arrow2_r .layer1 {
border-color: transparent transparent transparent #000;
left: 0
}

.u_arrow2_r .layer2 {
border-color: transparent transparent transparent red;
left: 1px
}

.u_arrow2_r .layer3 {
border-color: transparent;
left: 2px
}

.u_arrow2_b {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow2_b em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow2_b em {
border-style: solid dashed dashed;
left: 0
}

.u_arrow2_b .layer1 {
border-color: #000 transparent transparent;
top: 0
}

.u_arrow2_b .layer2 {
border-color: red transparent transparent;
top: 1px
}

.u_arrow2_b .layer3 {
border-color: transparent;
top: 2px
}

.u_arrow2_l {
height: 30px;
width: 30px;
overflow: hidden
}

.u_arrow2_l em {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
border-width: 15px
}

.u_arrow2_l em {
border-style: dashed solid dashed dashed;
top: 0
}

.u_arrow2_l .layer1 {
border-color: transparent #000 transparent transparent;
right: 0
}

.u_arrow2_l .layer2 {
border-color: transparent red transparent transparent;
right: 1px
}

.u_arrow2_l .layer3 {
border-color: transparent;
right: 2px
}

.m_box1 {
border-width: 2px 1px;
border-style: solid;
border-color: #6bc30d #dcdcdc #efd3e1;
background: #fff;
margin-bottom: 20px
}

.m_box2 {
margin-bottom: 15px
}

.m_box2_hd {
padding-bottom: 10px
}

.m_box2_hd .title {
font-weight: 700;
font-size: 14px;
font-family: '\5B8B\4F53',sans-serif;
color: #333
}

.m_box2_bd {
border: 1px solid #d7d7d7;
background-color: #fdfdfd
}

.m_after_sale {
width: 100%
}

.m_after_sale .inner {
padding: 40px 0 25px
}

.m_after_sale_list {
background: url(../images/headfoot_imgs.png?5f29d8a8) no-repeat 0 -250px;
height: 100px
}

.m_after_sale_list li {
margin-top: 45px;
display: inline;
float: left;
line-height: 24px
}

.m_after_sale_list li.item1 {
width: 220px;
margin-left: 100px
}

.m_after_sale_list li.item2 {
width: 195px;
margin-left: 148px
}

.m_after_sale_list li.item3 {
width: 190px;
margin-left: 147px
}

.m_tipbox_center .btnbox {
text-align: center;
padding-top: 50px
}

.m_tipbox_main {
text-align: center
}

.m_tipbox_main .inner {
display: inline-block;
padding-left: 42px
}

.m_tipbox_main .inner .ico {
float: left;
display: inline;
width: 32px;
margin-left: -42px
}

.m_tipbox_main .inner .txt {
text-align: left;
line-height: 32px
}

.m_tipbox_main .inner .txt {
font-weight: 700;
font-size: 14px
}

#top_head {
height: 24px;
background: #fdfdfd;
border-bottom: 1px solid #e9e9e9;
line-height: 24px
}

.user_info {
text-align: right
}

.vri_link {
margin-left: 15px;
color: #de5a94;
cursor: pointer
}

.vri_link:hover {
text-decoration: underline
}

.uv_1,.uv_2,.uv_3,.uv_4,.uv_5,.uv_6 {
display: inline-block;
height: 22px;
padding-right: 22px;
background-image: url(../images/comm_level.png?a45d982a);
background-repeat: no-repeat
}

.uv_1 {
background-position: right 1px
}

.uv_2 {
background-position: right -28px
}

.uv_3 {
background-position: right -53px
}

.uv_4 {
background-position: right -78px
}

.uv_5 {
background-position: right -103px;
padding-right: 30px
}

.uv_6 {
background-position: right -130px;
padding-right: 30px
}

.vip_logo_img,.order_map,.sidebar_service,.ue_survey {
background-image: url(../images/headfoot_imgs.png?5f29d8a8);
background-repeat: no-repeat
}

.h_m_1,.h_m_2,.h_m_3,.pop_close_btn {
background-image: url(../images/icons.png?e158a83b);
background-repeat: no-repeat
}

.top_head_bd,#header {
width: 1000px;
margin: 0 auto
}

#header {
height: 110px
}

.vip_logo {
width: 300px
}

.vip_logo_img {
width: 300px;
height: 90px;
margin-top: 10px;
background-position: 0 18px;
display: block;
overflow: hidden
}

.help_memu {
height: 18px;
margin-top: 10px;
text-align: right;
line-height: 18px
}

.h_m_1,.h_m_2,.h_m_3 {
padding: 2px 0 2px 35px
}

.h_m_line {
padding-right: 10px;
border-right: 1px solid #b3b3b3
}

.h_m_1 {
background-position: -590px 0
}

.h_m_2 {
background-position: -590px -50px
}

.h_m_3 {
background-position: -590px -99px
}

.order_map {
width: 600px;
height: 45px;
margin-left: -100px;
position: absolute;
top: 91px;
left: 50%
}

.order_map_step1 {
background-position: -350px 0
}

.order_map_step2 {
background-position: -350px -50px
}

.order_map_step3 {
background-position: -350px -100px
}

.sidebar_service {
width: 30px;
height: 100px;
background-position: 0 -100px;
position: fixed;
bottom: 120px;
left: 50%;
margin-left: 520px
}

.sidebar_service:hover {
background-position: -50px -100px
}

.ue_survey {
width: 30px;
height: 100px;
background-position: -100px -100px;
position: fixed;
bottom: 234px;
left: 50%;
margin-left: 520px
}

.ue_survey a {
width: 30px;
height: 100px;
display: block
}

.ue_survey a:hover {
background: #000;
filter: alpha(opacity=5);
opacity: .05
}

.co_show_pic:hover .co_pop_pic,.co_pop_pic_hover .co_pop_pic,.co_h_show:hover .co_h_show_edit,.co_h_show_hover .co_h_show_edit,.pro_img_box:hover .por_big_img,.guide_box:hover .guide_pop,.guide_box_hover .guide_pop,.record_li:hover .pop_rebuy_tips,.record_li_hover .pop_rebuy_tips {
display: block
}

.co_address:hover .co_adress_show,.co_address_hover .co_adress_show {
display: inline
}

.h_m_2:hover,.h_m_2_hover {
background-position: -590px -150px
}

.h_m_2:hover i,.h_m_2_hover i {
color: #239b2d
}

.record_li:hover,.record_li_hover {
background: #fef8fb
}

.loading_box_xs,.loading_box_s,.loading_box_m,.loading_box_l {
background: #f7ecf2;
border: 1px solid #f4bcd5
}

.loading_box_xs {
width: 98px;
line-height: 28px;
height: 28px
}

.loading_box_s {
width: 128px;
height: 28px;
line-height: 28px
}

.loading_box_m {
width: 148px;
height: 38px;
line-height: 38px;
font-size: 14px
}

.loading_box_l {
width: 178px;
height: 43px;
line-height: 43px;
font-size: 14px;
margin: 20px 0 35px
}

.loading_box_xs .fl,.loading_box_s .fl,.loading_box_m .fl,.loading_box_l .fl {
margin: 5px 10px 0
}

.loading_box_s .fl {
margin-left: 20px
}

.loading_box_m .fl {
margin-left: 30px
}

.loading_box_l .fl {
margin-left: 40px
}

.u_load_2020 {
width: 20px;
height: 20px
}

.u_load_2020 .u_load_ico,.u_load_auto20 .u_load_ico {
background: url(../images/loading.gif?381164aa) no-repeat;
display: inline-block;
height: 20px;
overflow: hidden;
width: 20px
}

.u_load_auto20 {
height: 20px
}

.u_load_auto20 .u_load_txt {
line-height: 20px;
display: inline-block;
margin-left: 10px;
color: #666
}

.u_load_auto32 {
height: 32px
}

.u_load_auto32 .u_load_ico {
background: url(../images/loading32.gif?4820672a) no-repeat;
display: inline-block;
height: 32px;
overflow: hidden;
width: 32px
}

.u_load_auto32 .u_load_txt {
line-height: 32px;
display: inline-block;
margin-left: 10px
}

.u_right_2121 {
background: url(../images/icons.png?e158a83b) no-repeat
}

.u_right_2121 {
background-position: -100px -850px;
display: inline-block;
height: 21px;
overflow: hidden;
width: 21px
}

.load1 {
background: url(../images/loading_p.gif?5b2a1383) no-repeat
}

.loadbox_m {
background: #f7ecf2;
border: 1px solid #f4bcd5;
width: 148px;
height: 38px;
line-height: 38px;
font-size: 14px;
text-align: center
}

.loadbox_m .ico {
display: inline-block;
width: 20px;
height: 20px;
margin-right: 10px
}

.loadbox_m .load1 {
margin-bottom: -4px;
_margin-top: 6px
}

.co_after_sale {
background-image: url(../images/headfoot_imgs.png?5f29d8a8);
background-repeat: no-repeat;
height: 100px;
margin: 60px 0;
background-position: 0 -250px
}

.co_asale_s1,.co_asale_s2,.co_asale_s3 {
margin-top: 45px;
display: inline;
float: left;
line-height: 24px
}

.co_asale_s1 {
width: 220px;
margin-left: 100px
}

.co_asale_s2 {
width: 195px;
margin-left: 148px
}

.co_asale_s3 {
width: 190px;
margin-left: 147px
}

#footer {
background: none repeat scroll 0 0 #FFFFFF;
color: #8C8C8C;
}

.f_help_links {
height: 224px;
}

.f_help_list {
border-left: 1px solid #FDFDFD;
border-right: 1px solid #E9E1E8;
float: left;
height: 142px;
margin-top: 41px;
padding: 0 0 0 10px;
width: 130px;
}

.f_tit {
color: #505152;
height: 25px;
line-height: 21px;
}

.f_help_links  dl.last {
border-right: 0 none;
display: block;
}

.f_tit  a {
color: #505152;
}

.f_tit  a:hover {
color: #6bc30d;
}

.f_server .f_tit2 {
    /*background-position: -650px 0;*/
background: none;
padding-left: 12px;
}

.f_server .f_tit {
    /*background-position: -650px 0;*/
background: none;
padding-left: 21px;
}

.f_buy .f_tit {
background-position: -650px -30px;
padding-left: 23px;
}

.f_pay .f_tit {
background-position: -650px -60px;
padding-left: 27px;
}

.f_distribution .f_tit {
background-position: -650px -90px;
padding-left: 27px;
}

.f_sell .f_tit {
background-position: -650px -120px;
padding-left: 25px;
}

.f_client .f_tit {
background-position: -650px -150px;
padding-left: 18px;
}

.f_client .qr {
text-align: center;
}

.f_client dd {
line-height: 22px;
padding-left: 0;
}

.f_code2 .f_tit {
background-position: -650px -180px;
padding-left: 28px;
}

.f_help_list dd {
padding-left: 6px;
}

.f_help_list dd a {
background-position: -650px -200px;
color: #999199;
display: block;
font: 12px/22px 微软雅黑,arial,sans-serif;
height: 22px;
overflow: hidden;
padding-left: 9px;
}

.f_help_list dd a:hover {
background-position: -650px -222px;
color: #1f8902;
}

.f_server {
border-left: 0 none;
}

.f_code2 {
border-right: 0 none;
list-style: none outside none;
}

.f_code2 .weixin {
background-position: -330px 0;
height: 88px;
width: 88px;
}

.f_code2 dd {
padding-left: 20px;
}

.f_code2 dd a {
background: none repeat scroll 0 center rgba(0, 0, 0, 0);
margin-left: -8px;
padding-left: 0;
}

.f_site_nav {
background: none repeat scroll 0 0 #6bc30d;
color: #FFFFFF;
height: 33px;
text-align: center;
}

.f_site_nav div {
font: 12px/33px 微软雅黑,arial,sans-serif;
}

.f_site_nav a {
color: #FFFFFF;
padding: 0 4px;
}

.f_site_nav a:hover {
color: #FFFFFF;
}

.f_site_info {
color: #767074;
padding: 10px 0 30px;
text-align: center;
}

.f_site_info a {
color: #898389;
}

.f_site_info .agree_department {
margin-top: 10px;
}

.footer_img {
background: none repeat scroll 0 0 #FFFFFF;
height: 40px;
margin: 0 auto;
padding: 4px 0 92px;
text-align: center;
width: 1000px;
}

.footer_img a {
margin: 0 7px;
}

.f_client dd {
color: #999199;
}

.suc_orders_income input {
background: url("../images/imgs_button_icon.png") repeat-x;
border: 0 none;
color: #fff;
cursor: pointer;
display: inline-block;
text-align: center;
width: 150px;
height: 40px;
line-height: 40px;
background-position: 0 -152px;
font-size: 14px;
font-weight: 700
}

.login_before .btn_login {
color: #6bc30d;
}

.login_before .btn_reg {
color: #6bc30d;
padding-left: 5px;
}